page-aboutus {
    ion-card{
        height: auto;
    }
    ion-card p{
        padding: 10px;
        text-align: justify;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
    ion-title.title.title-md{
        float: left;
        padding: 12px 0px;
    }
}
.ios page-aboutus a.home{
    color:#000;
}
.ios page-aboutus ion-title.title.title-md{
    float: left;
    padding: 12px 0px;
}