
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{'About us' | translate}}</ion-title>
  <a (click)="home()" class="home">
    <ion-icon name="home"></ion-icon>
  </a>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <b>Nabosupport - Tyverialarmen som aktiverer hele dit nabolag!</b>
      <p>Hos Nabosupport ønsker vi at skabe danmarks største netværk af aktive naboer og tyverialarmer. Når vi er mange i samme netværk, som ønsker at hjælpe hinanden står vi rigtig stærkt over eventuelle indbrudsforsøg.</p>
      <p>Det er unægteligt bevist flere gange, at synlige naboer og skiltning herom, er den bedste måde at holde tyveknægten på afstand. Nabosupport er i stand til at skabe Danmarks største netværk af naboer og især tyverialarmer. Kombinationen af naboer og tyverialarmer i den her konstellation er unik.</p>
      <p>Fordelen ved kombinationen af en tyverialarm og aktive naboer er, at reaktionen kan ske inden for ganske få minutter. Der er derfor stor sandsynlighed for at dine naboer kan være synlige omkring dit hus på meget kort tid.</p>
      <p>At være en del af Nabosupport, får du en brugerflade som giver dig et unikt overblik over hele dit nærområde, hvad angår alarmer, indbrud og suspekt adfærd og det er helt gratis!</p>
      <p>Bliv medlem allerede i dag, ved at besøge os på Nabosupport.dk og få ubetinget adgang til alle vores services med det samme.</p>
      <p>Vi glæder os til at se dig hos os :)</p>
      <p>Med venlig hilsen<br>
      <b>Hele teamet hos Nabosupport</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>
