<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="over_map" *ngIf="othersAddress">{{othersAddress}}</div>
  <div id="info_window" *ngIf="infoMsg">
    <div class="inner">
      <p>{{infoMsg}}
        <br><span id="loctime">{{eventTime}}</span></p>
    </div>
    <div class="info-exit" *ngIf="infoMsg">
      <ion-icon name="md-close" (click)="infoExit()"></ion-icon>
    </div>
    <div class="arrow-down" *ngIf="infoMsg"></div>
  </div>
  <div id="marker"></div>
  <agm-map [latitude]="AGMmap.lat" 
    [longitude]="AGMmap.lng" 
    [zoom]="AGMmap.zoom" 
    (mapReady)="mapReady($event)" 
    [clickableIcons]="false" 
    [streetViewControl]="false"
    [zoomControl]="false">

    <agm-marker *ngFor="let address of addressData; let i = index" 
      [latitude]="convertString(address.latitude)" 
      [longitude]="convertString(address.longitude)"
      [iconUrl]="getMarkerURL(address.marker_icon)" (markerClick)="markerClick(address)">
    </agm-marker>

  </agm-map>
  <div class="switch">
    <div class="alert_msg" *ngIf="alertmsg">
      <ion-list class="ex-btn">
          <ion-icon name="md-close" (click)="exit()"></ion-icon>
      </ion-list>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="burglaryInHouse()">{{ 'BURGLARIES IN HOUSE' | translate }}</button>
            </ion-col>
            <!-- <ion-col col-12>
              <button ion-button class="alertBtn" (click)="burglar()">{{ 'Burglar burglary' | translate }}</button>
            </ion-col> -->
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="burglarShed()">{{'BURGLAR SHEDDING' | translate }}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="assult()">{{'ASSAULT' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="picPocket()">{{'PICKPOCKET' | translate}}</button>
            </ion-col>
            <ion-item>
              <ion-input type="text" style="text-transform:uppercase;text-align: center;" placeholder="{{'Or enter alert information' | translate}}" class="alertinput"
                name="msg" [(ngModel)]="ddata.msg"></ion-input>
            </ion-item>
          </ion-row>
          <button type="button" [disabled]="!ddata.msg" class="alert" (click)="alert()" ion-button round full>{{'Send Alert' | translate}}</button>
        </ion-grid>
      </ion-list>
    </div>

    <div class="alert_msg" *ngIf="alertmsgsus">
      <ion-list class="ex-btn">
        <ion-icon name="md-close" (click)="exit()"></ion-icon>
      </ion-list>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="susCar()">{{'SUSPICIOUS CAR' | translate}}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="susPerson()">{{'SUSPICIOUS PERSON' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="susBehavior()">{{'SUSPICIOUS BEHAVIOR FROM PEOPLE' | translate}}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="susAttention()">{{'POSSIBLE ATTENTION TO BURGLARY' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-input type="text" style="text-transform:uppercase;text-align:center;" placeholder="{{'Or enter alert information' | translate}}" class="alertinput"
                name="msg" [(ngModel)]="ddata.msg"></ion-input>
            </ion-item>
          </ion-row>
          <button type="button" [disabled]="!ddata.msg" class="alert" (click)="alert()" ion-button round full>{{'Send Alert' | translate}}</button>
        </ion-grid>
      </ion-list>
    </div>

    <div class="alert_msg" *ngIf="guestalertmsg">
      <ion-list class="ex-btn">
        <ion-icon name="md-close" (click)="exit()"></ion-icon>
      </ion-list>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestburglaryInHouse()">{{ 'BURGLARIES IN HOUSE' | translate }}</button>
            </ion-col>
            <!-- <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestburglar()">Burglar burglary</button>
            </ion-col> -->
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestburglarShed()">{{'BURGLAR SHEDDING' | translate }}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestassult()">{{'ASSAULT' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestpicPocket()">{{'PICKPOCKET' | translate}}</button>
            </ion-col>
            <ion-item>
              <ion-input type="text" style="text-transform:uppercase;text-align:center;" placeholder="{{'Or enter alert information' | translate}}" class="alertinput"
                name="msg" [(ngModel)]="gddata.msg"></ion-input>
            </ion-item>
          </ion-row>
          <button type="button" [disabled]="!gddata.msg" class="alert" (click)="sendAlertConfirm()" ion-button round full>{{'Send Alert' | translate}}</button>
        </ion-grid>
      </ion-list>
    </div>

    <div class="alert_msg" *ngIf="guestalertmsgsus">
      <ion-list class="ex-btn">
        <ion-icon name="md-close" (click)="exit()"></ion-icon>
      </ion-list>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestsusCar()">{{'SUSPICIOUS CAR' | translate}}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestsusPerson()">{{'SUSPICIOUS PERSON' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestsusBehavior()">{{'SUSPICIOUS BEHAVIOR FROM PEOPLE' | translate}}</button>
            </ion-col>
            <ion-col col-12>
              <button ion-button class="alertBtn" (click)="guestsusAttention()"><p>{{'POSSIBLE ATTENTION TO BURGLARY' | translate}}</p></button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-input type="text" style="text-transform:uppercase;text-align:center;" placeholder="{{'Or enter alert information' | translate}}" class="alertinput"
                name="msg" [(ngModel)]="gddata.msg"></ion-input>
            </ion-item>
          </ion-row>
          <button type="button" [disabled]="!gddata.msg" class="alert" (click)="sendAlertConfirm()" ion-button round full>{{'Send Alert' | translate}}</button>
        </ion-grid>
      </ion-list>
    </div>

    <div class="btn-group" *ngIf="alertbtn=='N'">
      <button ion-button color="light" class="button btn-w-45" (click)="burglery()" icon-only>{{'Alarm' | translate }}</button>
      <button ion-button color="light" class="button btn-w-45" (click)="Suspicious()" icon-only>{{ 'Suspicious' | translate }}</button>
    </div>
    <div class="btn-group btn-caninfo" *ngIf="resbtn=='S'">
      <button ion-button class="button own-pol" (click)="police()" round full>{{ 'Informed Police' | translate }} </button>
      <button ion-button class="button res" (click)="saw()" icon-only>{{ 'Saw the same' | translate }}</button>
      <button ion-button class="button redres" (click)="notsusp()" icon-only>{{ 'Not Suspicious' | translate }}</button>
    </div>
    <div class="btn-group" *ngIf="ownerbtn=='owner'">
      <button ion-button class="button own-can" (click)="ownercancel()" icon-only>{{ 'Cancel Process' | translate }}</button>
    </div>
    <div class="btn-group" *ngIf="policealert=='SS'">
      <button ion-button class="button own-pol" (click)="police()" round full>{{ 'Informed Police' | translate }} </button>
    </div>
    <div class="btn-group btn-caninfo" *ngIf="ownerpoli=='owner'">
      <button ion-button class="button can-btn" (click)="ownercancel()" icon-only>{{ 'Cancel Process' | translate }}</button>
      <button ion-button class="button pol" (click)="police()" icon-only>{{ 'Informed Police' | translate }} </button>
    </div>
  </div>
</ion-content>
<ion-content *ngIf="owner">
  <ion-card>
    <ion-badge item-right>{{'Available User' | translate}}.{{SrangeAvaUser}}</ion-badge>
    <ion-item id="contactList-list-item" class="push_tag">
      <div class="push">
        <a href="#" class="push_btn">{{ 'Automatically send in' | translate}} : {{autoTime}} </a>
      </div>
    </ion-item>
    <ion-item id="contactList-list-item" class="push_tag btn-success">
      <div class="push">
        <a href="#" class="push_btn" (click)="sendcurpush()">{{ 'Send the alert to all volunteers' | translate }}
        </a>
      </div>
    </ion-item>
    <ion-item id="contactList-list-item" class="push_tag btn-danger">
      <div class="push">
        <a href="#" class="push_btn" (click)="cancelpush()"> {{ 'Cancel the alert sent by neighbour' | translate }}
        </a>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
<ion-content id="grange" *ngIf="guest">
  <ion-badge item-right>{{'Available User' | translate}}.{{SrangeAvaUser}}</ion-badge>
</ion-content>
<!-- <div >
  <ul>
    <li>
      <a (click)="refresh()">
        <ion-icon ios="ios-refresh-circle-outline" md="ios-refresh-circle-outline"></ion-icon>
      </a>
    </li>
    <li>
      <a (click)="getHome()">
        <ion-icon ios="ios-navigate-outline" md="ios-navigate-outline"></ion-icon>
      </a>
    </li>
    <li>
      <a (click)="getCurrentPosition()">
        <ion-icon ios="ios-locate-outline" md="ios-locate-outline"></ion-icon>
      </a>
    </li>
  </ul>
</div> -->
<div class="fab-container">
  <ion-fab bottom right id="ctrl-btns">
      <button ion-fab mini><ion-icon name="ios-arrow-up"></ion-icon></button>
      <ion-fab-list id="ctrl-btns-list" side="top">
        <button ion-fab (click)="refresh()"><ion-icon ios="ios-refresh-circle" md="ios-refresh-circle"></ion-icon></button>
        <button ion-fab (click)="getHome()"><ion-icon ios="ios-home" md="ios-home"></ion-icon></button>
        <button ion-fab (click)="getCurrentPosition()"><ion-icon ios="ios-locate" md="ios-locate"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>
</div>