<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My supporters' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="mycontact">
    <ion-segment-button value="contactlist">
        {{'Contact List' | translate}}
    </ion-segment-button>
    <ion-segment-button value="contact">
      {{'ADD CONTACT' | translate}}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="mycontact" padding>
    <ion-list *ngSwitchCase="'contactlist'">
      <div *ngIf="isEmpty; then thenTemplateName; else elseTemplateName"></div>

      <ng-template #thenTemplateName>
        <ion-item id="contactList-list-item">{{'Contact not found' | translate}}</ion-item>
      </ng-template>

      <ng-template #elseTemplateName>
        <span *ngFor="let item of itemsList">

          <ion-item id="contactList-list-item">

            {{item.name}}
            <br /> {{item.countrycode}}
            <br /> {{item.email_id}}
            <!-- <br /> {{item.phone_number}} -->
            <div clear item-end>
              <button ion-fab type="button" class="sign_btn" (click)="editContact(item.my_contact_id)" mini>
                <ion-icon name="create"></ion-icon>
              </button>
              <button ion-fab type="button" class="sign_btn" (click)="deleteContact(item.my_contact_id)" mini>
                <ion-icon name="close"></ion-icon>
              </button>
            </div>
          </ion-item>
        </span>
      </ng-template>

    </ion-list>
    <ion-list *ngSwitchCase="'contact'">
      <form [formGroup]="form" (ngSubmit)="contact()">
        <ion-input type="hidden" formControlName="id" [(ngModel)]="userData.id"></ion-input>
        <ion-input type="hidden" formControlName="type" [(ngModel)]="userData.type"></ion-input>
        <ion-item>
          <ion-thumbnail item-start>
            <ion-icon name="ios-contact"></ion-icon>
          </ion-thumbnail>
          <ion-label floating>
            {{'NAME' | translate}}</ion-label>
          <ion-input class="no-left-pad" type="text" formControlName="name" [(ngModel)]="userData.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-thumbnail item-start>
            <ion-icon name="ios-mail"></ion-icon>
          </ion-thumbnail>
          <ion-label floating>
            {{'EMAIL' | translate}}</ion-label>
          <ion-input type="text" formControlName="mail" [(ngModel)]="userData.mail"></ion-input>
        </ion-item>

        <!-- <ion-row>
              <div>
                <ion-thumbnail class="phone-thumb-cls" item-start>
                  <ion-icon name="ios-phone-portrait"></ion-icon>
                </ion-thumbnail>
              </div>
              <ion-col width-35>
                <ion-item class='select-item'>
                  <ion-label class="code-cls" floating>
                    CODE</ion-label>
                  <ion-select class="select-cls" [(ngModel)]="userData.code" formControlName="code" [selectOptions]="selectCode">
                    <ion-option *ngFor="let list of countryPHCode" [value]="list.value">{{list.name}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col width-50>
                <ion-item>
                  <ion-label floating>
                    {{'PHONE NUMBER' | translate}}</ion-label>
                  <ion-input type="number" formControlName="phone" (keydown)="isValidNumber($event)" max="10" pattern="[0-9]" [(ngModel)]="userData.phone"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row> -->

        <button type="submit" class="sign_btn" ion-button round full>{{btnName | translate}}</button>
        <button type="submit" class="sign_btn" ion-button round full *ngIf="btnclear" (click)="clearForm();">Cancel</button>
      </form>
    </ion-list>
  </div>

</ion-content>