/*##css for map page##*/
@import url(http://fonts.googleapis.com/css?family=Kalam);
.ios,
.md {
  page-map {
    ion-header.header.header-md::after {
      background-image: none;
    }
    a.refresh {
      float: right;
      margin-right: 13px;
      color: #fff;
    }
    #loctime{
      font-size: 10px;
      font-weight: 900;
    }
    ion-navbar.toolbar {
      min-height: 43px;
    }
    ion-icon.ref.icon.icon-md.ion-md-refresh {
      background-color: #000;
      border-radius: 30px;
      font-size: 18px;
      padding: 10px 12px 10px 12px;
      /* border: 1px solid #c1bfbf; */
    }
    ion-select.select.select-md {
      color: #e1dfdf;
      max-width: 100% !important;
    }
    ion-item.alert_conform {
      margin-top: 100px;
    }
    .bar-button-md {
      height: 100%;
    }
    .toolbar-background.toolbar-background-md {
      background-color: rgba(0, 0, 0, 0);
    }
    .toolbar-title.toolbar-title-md {
      display: none;
    }
    .scroll-content {
      margin-top: 0px !important;
    }
    ion-icon.icon.icon-md.ion-md-menu {
      margin: 0px;
      background-color:#000;
      border-radius: 30px;
      font-size: 18px;
      padding: 10px 12px 10px 12px;
      /* border: 1px solid #c1bfbf; */
    }
    ion-icon.icon.icon-md.ion-md-home {
      background-color: rgb(0, 0, 0);
      border-radius: 30px;
      font-size: 18px;
      padding: 10px 12px 10px 12px;
       /* border: 1px solid #c1bfbf; */
    }
    #marker {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 39px);
      height: 80px;
      width: 80px;
      background-image: url('../assets/imgs/pin_1.png');
      box-sizing: border-box;
      pointer-events: none;
      background-color: rgba(46, 122, 144, 0.46);
      border-radius: 45px;
      background-position: 50%;
      z-index: 99;
    }
    #over_map {
      position: absolute;
      width: 100%;
      height: 8%;
      bottom: 0px;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.81);
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      padding: 10px;
    }
    #info_window {
      position: absolute;
      top:34%;
      z-index: 99;
      margin-left: 16%;
      width: 70%;
      height: auto;
    }
    #info_window .inner {
      width: 100%;
      height: auto;
      //border-radius: 25px;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.81);
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      padding:2px 5px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 1);
    }
    #info_window:before {
      transform: scale3d(.2,.2,1);
      transition: all .2s ease-in-out;
    }
    #info_window:after {
      transform: translate3d(0,6px,0);
      transition: all .1s ease-in-out;
    }
    .info-exit{
      // position: absolute;
      // top: 32%;
      // z-index: 99;
      // color: #000;
      // font-weight: 500;
      // font-size: 12px;
      // padding: 0px;
      // margin-left: 83%;
      // text-align: center
      position: absolute;
      top: 1px;
      z-index: 99;
      color: #ea3232;
      font-weight: 800;
      font-size: 12px;
      padding: 0px;
      margin-left: 220px;
      text-align: center;
      width:40px;
      height: 40px;
    }
    .info-exit ion-icon.icon.icon-md.ion-md-close{
      padding: 3px;
      font-size: 15px;
      font-weight:bolder;
    }
    #info_window p {
      margin: 13px 0 !important;
    }
    .arrow-down {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 20px solid rgba(0, 0, 0, 0.81);
      position:relative;
      top: 32%;
      z-index: 99;
      margin-left: 43%;
    }
    .badge-md {
      border-radius: 4px;
      font-size: 16px;
      color: #fff;
      background-color: rgba(85, 94, 110, 0.7215686274509804);
    }
    ion-item#contactList-list-item {
      background-color: rgba(255, 255, 255, 0.14);
      color: #fff;
      border-bottom: 1px solid rgba(86, 84, 84, 0.45);
      position: relative;
      top: 20%;
      bottom: 50%;
      font-size: 14px;
      text-align: center;
      margin-bottom: 5%;
    }
    ion-title.title.title-md {
      float: left;
      margin-top: 2px;
    }
    .ion-ios-locate {
      margin: 0;
  }
    a.home {
      float: right !important;
      color: #fff;
      margin-top: 3px;
    }
    .push_tag .item-inner {
      border-bottom: 0px !important;
    }
    .scroll {
      height: 100%
    }
    #map {
      width: 100%;
      height: 100%;
      .gm-style-iw {
        background-color: #252525;
        padding: 2% 11%;
      }
      .iw-content p {
        color: #a5a5a5;
      }
      .iw-subTitle {
        color: white;
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
      }
      ion-content .switch .btn-group .res {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
    button.map_btn {
      position: absolute;
      background-color: #fff;
      color: #000000;
      bottom: 116px;
      right: 5px;
      width: 50px;
      height: 50px;
      padding: 0;
    }
    ion-icon.icon.icon-md.ion-ios-locate-outline {
      margin-right: 0px;
      padding: 5px;
    }
    .switch {
      position: absolute;
      bottom: 8%;
      left: 38px;
      width: 80%;
      border-radius: 10px;
      text-align: center;
      z-index: 100;
      opacity: .9;
      .active {
        background: #3366CC!important;
        color: #fff;
      }
      button.button.redres.disable-hover.button-md.button-default.button-default-md {
        background: linear-gradient(#41de0f, #0f730a);
        padding:20px 7px; 
      }
      button.button.res.disable-hover.button-md.button-default.button-default-md {
        background: linear-gradient(#f71111, #521f1f);
        padding:20px 7px;
        border-radius: 25px 0 0 25px !important
      }
      .button.own-can {
        padding: 20px 5px;
        width: 52%;
        margin: 1% 21% !important;
        background: linear-gradient(to bottom, #d3d3d3 0%, #808080 100%) !important;
        color: #FFF;
        text-align: left !important;
        border-radius: 25px 25px!important;
      }
      .button.own-pol{
        padding: 20px 5px;
        width: 52%;
        margin: 1% 21% !important;
        background: linear-gradient(#3b47ff, #16144b) !important;
        color: #FFF;
        text-align: left !important;
        border-radius: 25px 25px!important;
      }
      .button.pol {
        padding: 20px 5px;
        //width: 52%;
        margin: 0 !important;
        background: linear-gradient(#3b47ff, #16144b) !important;
        color: #FFF;
        text-align: left !important;
        //border-radius: 25px 25px!important;
      }
      button.alert {
        text-align: center;
        background-color: transparent;
        border: 1px solid #fff;
        width: 75% !important;
        margin-top: 25px !important;
        margin-bottom: 15px !important;
        margin-left: 35px;
      }
    }
    .alert_msg .item {
      border-bottom: 1px solid #000 !important;
    }
    .alert_msg .item-inner {
      border-bottom: 2px solid #948d8d !important;
      box-shadow: inset 0 -1px 0 0 #000 !important;
    }
    .button {
      padding: 18px 25px;
      color: #FFF;
    }
    .btn-w-45 {
      width:45% !important;
    }
    .btn-group .button:first-child {
      border-radius: 25px 0 0 25px;
      //background: black;
      background: #e8112e;
      margin-right: -1px;
    }
    .btn-caninfo{
      width:100%;
    }
    .btn-caninfo .button:first-child {
      width:48%;
      font-size:1.3rem;
    }
    .btn-caninfo .button:last-child{
      width:49%;
      font-size:1.3rem
    }
    .btn-caninfo .button:first-child .button-inner{
      white-space: normal;
      text-align: center;
    }
    .btn-caninfo .button:last-child .button-inner{
      white-space: normal;
      text-align: center;
    }
    .btn-group .own-pol .button-inner{
      white-space: normal;
      text-align: center;
    }
    // .btn-group .button:nth-child(2) {
    //   border-radius: 25px 0 0 25px !important;
    // }
    .btn-group .button:last-child {
      border-radius: 0 25px 25px 0;
      margin-left: -1px;
      //background: gray;
      background: orange;
    }
    .btn-group .can-btn{
      padding: 20px 6px;
      margin: 0 !important;
      background: linear-gradient(to bottom, #d3d3d3 0%, #808080 100%) !important;
      text-align: left !important;
    }
    .btn-group .button:only-child {
      border-radius: 6px;
      margin-left: 0;
    }
    .active {
      display: none;
    }
    button.alert {
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      width: 100% !important;
      margin-top: 10px !important;
    }
    .alert_msg .item {
      border-bottom: 1px solid #000 !important;
    }
    .alert_msg .item-inner {
      border-bottom: 2px solid #948d8d !important;
      box-shadow: inset 0 -1px 0 0 #000 !important;
    }
    .alert_msg {
      background-color: rgba(0, 0, 0, 0.81);
      border-radius: 20px;
      z-index: 12;
    }
    ion-input.alertinput input {
      margin: 0px;
    }
    .alert_msg .list-md {
      margin-bottom: 0px;
    }
    .alert_msg .ex-btn {
      float: right;
      cursor: pointer;
      color:tomato;
      font-weight: 600;
      font-size: 20px;
      //background: #fff;
      border-radius: 0 25px;
      width: 50px;
      height: 25px;
      margin-right: -8px;
      margin-top: 5px;
    }
    .alert_msg .ex-btn ion-icon.icon.icon-md.ion-md-close{
      padding: 2px 5px;
      font-size: 20px;
      font-weight: bolder;
    }
    ion-icon.ref.icon.icon-md.ion-md-refresh{
      margin-right: 0px !important;
    }
    ion-icon.icon.icon-md.ion-md-home {
      margin-right: 0px !important;
    }
    .alert_msg button {
      white-space: normal;
      font-size: 11px;
      font-weight: bold;
    }
  }
  .gm-style {
    .gm-style-iw {
      background-color: #252525 !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
      min-height: 120px !important;
      padding-top: 10px;
      display: block !important;
    }
    /*style the paragraph tag*/
    .gm-style-iw #google-popup p {
      padding: 10px;
    }
    /*style the annoying little arrow at the bottom*/
    div div div div div div div div {
      background-color: #252525 !important;
      padding: 0;
      margin: 0;
      padding: 0;
      top: 0;
      color: #fff;
      font-size: 16px;
    }
    /*style the link*/
    div div div div div div div div a {
      color: #f1f1f1;
      font-weight: bold;
    }
  }
  #ctrl-btns button{
    background: #000;
    border: none;
  }
  #ctrl-btns-list button{
    background: #fff;
    border: none;
  }
  .fab ion-icon {
    margin-right: 0;
  }
  #ctrl-btns-list ion-icon{
    font-size: 3.5rem;
    padding: 1px 0;
  }
  // #ctrl-btns ul {
  //   list-style-type: none;
  // }
  // #ctrl-btns ul li a {
  //   margin-bottom: 3px;
  // }
  // #ctrl-btns ul li a ion-icon{
  //   color: #000;
  //   margin-right: 0px;
  //   padding: 2px 5px;
  //   font-weight: 550;
  // }
  ion-fab[bottom] {
    bottom: 110px !important;
  }
  ion-fab[right] {
    right: -3px !important;
}
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  bottom: 100px !important;
}

.alertBtn {
  background: #F5F5F5;
  color: #424242 !important;
  width: 75%;
  border-radius: 20px;
  height: 32px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  text-transform: none !important;
}
ion-item.range.item.item-block.item-md.item-range {
  margin-top: 60px;
}
.ios ion-item.range.item.item-block.item-range {
  margin-top: 60px;
}
//range item item-block item-ios item-range
.alignrange{
  margin-top:5px;
  margin-left:15px;
}
.ios ion-input.alertinput input {
  margin: 0px;
  color:#fff;
}
//    .alert-head {
//     background-image: url("../assets/imgs/alert.png");
//     background-repeat: no-repeat;
//        padding-left: 54px !important;
//        padding: 11px 7px 11px 40px !important;
//     border-bottom: 1px solid #c2c2c2;
// }
//   div#alert-msg-2 { padding-top: 16px; border-bottom: 1px solid #cbc6c6;  }
//   .alert-button-group { padding: 2px !important; justify-content: left !important;  }
//   button.disable-hover.alert-button.alert-button-md.alert-button-default.alert-button-default-md {width: 50%;padding: 9px 0px;margin: 0px;border-right: 1px solid #d5cccc;/* text-align: center !important; */}
//   span.button-inner {justify-content: center !important;}
//   .alert-md .alert-message, .alert-md .alert-input-group {
//     padding-top: 20px;
//     border-bottom: 1px solid #ccc;
// }
.ios page-map a.refresh {
  color: #000 !important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
  color: #000 !important;
}
.ios page-map .btn-group .button.res{
  background: linear-gradient(#41de0f, #0f730a);
  padding:20px 7px;
  border-radius: 25px 0 0 25px !important 
}
.ios page-map .btn-group .button.redres {
  background: linear-gradient(#f71111, #521f1f);
  padding:20px 7px;
}
#grange{
  
  position: absolute;
  width: 68%;
  height: 15%;
  border-radius: 10px;
  top: 1%;
  z-index: 99;
  color: #fff;
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  margin-left: 15%;
  overflow-y: hidden !important;
}
#grange ion-item.range.item.item-block.item-range {
  margin:0px !important;
  overflow-y:hidden;
  color:#fff;
}

page-map .scroll-content { overflow: hidden;}

page-map #grange ion-badge{margin-left: 15px;font-size: 12px;margin-top: 5px;}
page-map ion-item.btn-success#contactList-list-item {
  background: rgba(76, 175, 80, 0.59) !important;
  border-radius: 10px !important;
 
}
page-map ion-item.btn-danger#contactList-list-item {
  background: rgba(255, 0, 0, 0.49019607843137253) !important;
  border-radius: 10px !important;
 
}
page-map ion-item#contactList-list-item{
background:transparent !important;
}
page-map ion-badge.badge.badge-md {
  position: absolute;
  top: 10%;
  width: 85%;
  /* box-shadow: 2px 4px 6px 8px yellow !important; */
  background:transparent;
  color: white;
  padding: 5px;
}
page-map ion-card.card.card-md {
  top: 30px;
  position: absolute;
  background: rgba(255, 0, 0, 0.35);
  top: 20%;
  height: 50%;
  padding: 20px;
  border-radius: 30px;
  /* text-align: center; */
}
button.map_btn.disable-hover.button.button-md.button-default.button-default-md {
  display: none !important;
}

.ios{
    page-map ion-item.btn-success#contactList-list-item {
    background: rgba(76, 175, 80, 0.59) !important;
    border-radius: 10px !important;
  
  }
  page-map ion-item.btn-danger#contactList-list-item {
    background: rgba(255, 0, 0, 0.49019607843137253) !important;
    border-radius: 10px !important;
  
  }
  page-map ion-item#contactList-list-item{
  background:transparent !important;
  }
  page-map ion-badge.badge {
    position: absolute;
    top: 10%;
    width: 85%;
    /* box-shadow: 2px 4px 6px 8px yellow !important; */
    background:transparent;
    color: white;
    padding: 5px;
  }
  page-map ion-card.card {
    top: 30px;
    position: absolute;
    background: rgba(255, 0, 0, 0.35);
    top: 20%;
    height: 50%;
    padding: 20px;
    border-radius: 30px;
    /* text-align: center; */
  }
  button.map_btn.disable-hover.button.button-default {
    display: none !important;
  }
  .button-ios{
    text-transform: none;
  }
  .fab[mini] .fab-close-icon {
    line-height: 50px !important;
    font-weight: bold;
  }
}


//AGM map style
agm-map{
  height: 100%;
  width: 100%;
}
.map-wrapper {
  position: relative;
  height: calc(100vh - 4em - 64px);
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  #info_window {
    top: 40%;
    margin-left: 18%;
  }
  .ios page-map #info_window {
    top: 40%;
    margin-left: 18%;
  }
  .ios page-map .info-exit{
    margin-left: 510px;
  }
  .md page-map .info-exit {
    margin-left: 510px;
  }
  .ios page-map .alert_msg button {
    white-space: normal;
    font-size: 11px;
    font-weight: bold;
  }
  .ios .btn-caninfo .button:last-child{
    width:49%;
    font-size:1.3rem
  }
  .ios .btn-caninfo .button:last-child .button-inner{
    white-space: normal;
    text-align: center;
  }
  .ios .btn-caninfo .button:first-child{
    font-size:1.3rem
  }
  .ios .btn-caninfo .button:first-child .button-inner{
    white-space: normal;
    text-align: center;
  }
  .ios .btn-group .own-pol .button-inner{
    white-space: normal;
    text-align: center;
  }
}
.map-loading {
  .loading-wrapper {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
}