<ion-content class="signin" padding center text-center>
  <img src="assets/imgs/logo.png">
  <!-- signin inputs field starts-->
  <ion-list>
    <form [formGroup]="form"  (ngSubmit)="signin()">
      <ion-item>
          <ion-thumbnail item-start class="icn">
              <ion-icon name="ios-contact"></ion-icon> 
            </ion-thumbnail> 
        <ion-label floating>
          {{'Email id' | translate}}</ion-label>
        <ion-input formControlName="username" type="text" [(ngModel)]="userData.username" ></ion-input>
      </ion-item>
     
      <ion-item>
          <ion-thumbnail item-start class="icn">
              <ion-icon name="lock"></ion-icon> 
            </ion-thumbnail> 
        <ion-label floating>
           {{'Password' | translate}}</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="userData.password" ></ion-input>
      </ion-item>
     
      <button type="submit" class="sign_btn" ion-button  round full>{{'Sign In' | translate}}</button>
    
    </form>
    <a href="#" (click)="webpage();">{{'FORGOT PASSWORD ?' | translate}}</a>
  </ion-list>
  
  <!-- following option will be enabled when it need so it commented-->
  <!-- #####signin inputs field Ends####-->
  <!-- <span class="acc">{{"DON'T HAVE AN ACCOUNT ?" | translate}}</span>
  <a href="#" (click)="signup()">{{'SIGN UP' | translate}}</a> -->
  <!-- <a href="#" (click)="account()">account</a> -->


  <!-- facebook, google  login -->
  <!-- <ion-list padding class="social">
    <P>{{'OR SIGN UP WITH' | translate}}</P>
     <button ion-button class="sign_btn g" round icon-start (click)="doGoogleLogin()">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>  
      <button ion-button class="sign_btn f"  icon-right   icon-start round (click)="FBlogin()"><ion-icon name="logo-facebook"></ion-icon></button>
       -->
       <!-- <ion-card *ngIf="users">
         <ion-card-header>{{ users.username }}</ion-card-header>
         <img [src]="users.picture" />
        
           <p>Email: {{ users.email }}</p>
           <p>First Name: {{ users.first_name }}</p>
       </ion-card> 
    <ng-template #facebookLogin>
        <button ion-button class="sign_btn"  icon-right   icon-start (click)="login()">
          login
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ng-template> -->
    
  <!-- </ion-list> -->
<!--#### facebook, google  login end -->


</ion-content>