/*##css for signin page##*/
page-signin {
    .toolbar-title.toolbar-title-md {
        color: #fff;
        font-family: inherit;
        margin: 12px;
    }
    ion-content{
        background-image: url('../assets/imgs/bg1.png');
        background-size: cover;
        background-repeat: no-repeat;
      //background-color: #000 !important;
     }
     ion-thumbnail.icn {
        margin:0 0 -30px 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        color:#fff
    }
    ion-label{
        margin-left: 0 !important;
        margin-bottom: 10px !important;
    }
    ion-input {
        margin-left: 0 !important;
    }
    button.sign_btn.g {
        background: rgb(246, 71, 16) !important;
        width: auto !important;
        padding: 20px;
        margin: 5px;
    }
    button.sign_btn.f {
        background: rgb(63, 81, 181) !important;
        width: auto !important;
        padding: 20px;
        margin: 5px;
    }
    
    // ion-icon.icon.icon-ios.ion-logo-googleplus {
    //     font-size: 30px;
    // }
    // ion-icon.icon.icon-ios.ion-logo-facebook {
    //     font-size: 30px;
    // }

}

button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-full.button-full-md {
    background-color: rgba(169, 169, 169, 0);
    border: 1px solid #fff;
    margin: 16px 0px 16px 0px;
}
ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-valid {
    background-color: rgba(127, 255, 212, 0);
}
ion-item.ng-touched {
    background-color: rgba(127, 255, 212, 0);
}
input.text-input.text-input-md {
    color: #fff;
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-focus.item-input-has-focus.ng-dirty {
    background-color: rgba(255, 255, 255, 0);
    }
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #ffffff;
}

ion-label#lbl-0 {
    color: rgb(201, 198, 198);
}

ion-label#lbl-1 {
    color: rgb(201, 198, 198);
}
.scroll-content a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

ion-list.social.list.list-md {
    color: #fff;
    padding: 24px;
    font-size: 25px;
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #d3d3d3;
  -webkit-box-shadow: inset 0 -1px 0 0 #aeaeae;
  box-shadow: inset 0 -1px 0 0 #7d7e80;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #969696;
}
button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md {
    padding: 10px 5px 9px 10px;
    background-color: rgba(85, 86, 88, 0);
    border: 1px solid;
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-value.item-input-has-value.ng-dirty {
    background-color: rgba(240, 255, 255, 0);
    }
    ion-content.signin span.acc {
        color: #dbdfe4;
        font-size: 10px;
        padding: 16px;
    }
    ion-list.social P {
        font-size: 14px;
    }
    
     ion-icon.icon.icon-md.ion-logo-googleplus {
        margin-right: 0px;
    }
    
    ion-icon.icon.icon-md.ion-logo-facebook {
        margin-right: 0px;
    }

    ion-item.item.item-block.item-ios.item-input.item-label-floating.ng-untouched.ng-pristine.ng-invalid {
        background: transparent;
    }
    
    button.sign_btn.disable-hover.button.button-ios.button-default.button-default-ios.button-round.button-round-ios.button-full.button-full-ios {
        background: transparent;
        border: 1px solid;
        margin-top: 30px;
    }
    input.text-input.text-input-md {
        padding-left: 0 !important;
    }
    .ios page-signin input.text-input.text-input-ios {
        color: #fff;
    }