<ion-content padding>
  <ion-icon class="exit-btn" ios="ios-close-circle" md="md-close-circle" (click)="modalClose()"></ion-icon>
  <div class="flex">
    <h2>{{'Thanks for your help' | translate}}</h2>
  </div>
  <img src="assets/imgs/shield.svg" alt="">
</ion-content>
