<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Shop' | translate}}</ion-title>
        <a (click)="cart()" class="home">
            <ion-icon name="cart" class="cus-margin"></ion-icon>
            <ion-badge class="cartCount">{{itemCount}}</ion-badge>
        </a>
    </ion-navbar>

</ion-header>




<ion-content>
    <ion-item class="selectCat-cls">
        <ion-select class="select-ion-cls" [(ngModel)]="category" [selectOptions]="categoryTitle" (ionChange)="onCategoryChange($event)">
            <ion-option value="">Select category</ion-option>
            <span *ngFor="let list of categoryList">
                <ion-option [value]="list.cat_id" [selected]="list.cat_id == chooseCategory">{{list.cat_name}}</ion-option>
            </span>
        </ion-select>
    </ion-item>
    <div *ngIf="isEmpty; then thenTemplateName; else elseTemplateName"></div>
    <ng-template #thenTemplateName>
        <ion-item id="contactList-list-item" class="white-clr">Record not found.</ion-item>
    </ng-template>
    <ng-template #elseTemplateName>
        <ion-list class="list-border">
            <ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-sm-6 col-12 *ngFor="let row of products">
                        <ion-card onclick="webpage()">
                            <div class="shop-img">
                                <img [src]="base_url+row.img_path" onerror="this.src='assets/imgs/no-img.svg';" (click)="webpage();">
                            </div>
                            <div class="card-title">{{row.name}}</div>
                            <div class="card-subtitle">$ {{row.price | number:'1.2-2'}}</div>
                            <br/>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ng-template>
</ion-content>