<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My Alarm' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>
<ion-content class="signin" padding center text-center>
  <ion-list *ngFor="let add of addresses;let i = index">
    <ion-card *ngIf="_ispaid">
      <h2 class="add-head" *ngIf="add.primary_address == 'yes';else normadd">{{'Primary address' | translate}}</h2>
      <ng-template #normadd>
        <h2 class="add-head">{{'Other address' | translate}} {{i}}</h2>
      </ng-template>
      <div class="add-bar sec-address" *ngIf="updateAddress">
        <ion-item>
          <ion-textarea disabled={{addDisabled}} [value]="add.street_address" type="text" value="{{userdetail[0].street_address}}"></ion-textarea>
        </ion-item>
        <ion-item>
          <!-- <ion-label>{{ 'City' | translate }}</ion-label> -->
          <ion-input disabled={{addDisabled}} type="text" [value]="add.city"></ion-input>
        </ion-item>
        <ion-item>
          <!-- <ion-label>{{ 'Zipcode' | translate }}</ion-label> -->
          <ion-input disabled={{addDisabled}} type="text" [value]="add.zipcode"></ion-input>
        </ion-item>
        <ion-item>
          <!-- <ion-label>{{ 'Country' | translate }}</ion-label> -->
          <ion-input disabled={{addDisabled}} type="text" [value]="add.country"></ion-input>
        </ion-item>
        <ion-list radio-group [(ngModel)]="add.camtoken_type">
          <ion-item>
            <ion-label>{{'Device details' | translate}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{'Device ID' | translate}}</ion-label>
            <ion-radio [disabled]="!isEdit[i]"  value="device_detail" (ionSelect)="radioSelect('device_detail',i)"></ion-radio>
          </ion-item>
          <ion-item *ngIf="idview[i]">
            <ion-input [disabled]="!isEdit[i]" maxLength="25" class="m-left-23" placeholder="Device ID"  type="text" [(ngModel)]="add.cam_did"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{'PHONE NUMBER' | translate}}</ion-label>
            <ion-radio value="phone" [disabled]="!isEdit[i]" (ionSelect)="radioSelect('phone',i)"></ion-radio>
          </ion-item>
          <ion-item *ngIf="phoneview[i]">
            <ion-input id="code" maxLength="4" [disabled]="!isEdit[i]" [(ngModel)]="add.country_code"></ion-input>
            <ion-input id="phone" maxLength="25" [disabled]="!isEdit[i]" class="m-left-23" placeholder="Phone number"  type="number" [(ngModel)]="add.cam_phone"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item>
          <button class="sm-btn" ion-button small (click)="editDID(i)" [class.hidden]="editDBtn[i]" item-end>
            <ion-icon id="did-edt" name="create"></ion-icon>
          </button>
          <button class="sm-btn" ion-button small (click)="updateDID(add,i,did)" [class.hidden]="!updateDBtn[i]" item-end>
            <ion-icon id="did-upt" name="checkmark"></ion-icon>
          </button>
        </ion-item>
      </div>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="viewCard">
    <ion-card class="free-usr" *ngIf="_isnormal">
      <h3>{{"Become a paid user to connect your 'device/alarm systems' to Nabosupport" | translate}}</h3>
    </ion-card>
  </ion-list>
</ion-content>
