<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Contact Nabo Support' | translate }}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="sendemail()">
      <ion-item>
        <!--contact form starts -->
        <ion-thumbnail item-start>
          <ion-icon name="ios-contact"></ion-icon>
        </ion-thumbnail>
        <ion-label floating>
          {{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="name" [(ngModel)]="userData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon name="ios-mail"></ion-icon>
        </ion-thumbnail>
        <ion-label floating>
          {{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text" formControlName="mail" [(ngModel)]="userData.mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon name="ios-document"></ion-icon>
        </ion-thumbnail>
        <ion-label floating>
          {{ 'SUBJECT' | translate }}</ion-label>
        <ion-input type="text" formControlName="subject" [(ngModel)]="userData.subject"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <ion-icon name="ios-paper"></ion-icon>
        </ion-thumbnail>
        <ion-label floating>
          {{ 'MESSAGE' | translate }}</ion-label>
        <ion-input class="text-in" formControlName="message" [(ngModel)]="userData.message"></ion-input>
      </ion-item>
      <button type="submit" class="sign_btn" ion-button round full>Send</button>
      <!--contact form end -->
    </form>
  </ion-list>
</ion-content>