page-contactus {
    ion-title.title.title-md{
        float: left !important;
        padding: 5px 0 !important;
    }
    .toolbar-title.toolbar-title-md{
        padding: 5px 0 !important;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
    ion-textarea.text-in{
        color: #fff;
    }
    ion-thumbnail {
        margin: 30px 0 0 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        color: #fff;
    }
    ion-label{
        margin-bottom: 10px !important;
    }
    ion-content{
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
      //background-color: #000 !important;
     }
}
.ios page-contactus a.home{
    color:rgba(150, 0, 0, 1);
}