<!--
  
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'newadd' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="mapAddAddress-cls">
    <div>
      <ion-item>
        <div class="search-add">
          <ion-searchbar class="s-box" id="pac-input" [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="updateSearch()"
            (ionCancel)="dismiss()" placeholder="Enter your address here..."></ion-searchbar>
          <ion-list id="sug">
            <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)" class="search-item-cls">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </div>
      </ion-item>
      <ion-item>
        <div #map id="map"></div>
        <!-- <div id="marker"></div> -->
      </ion-item>
      <ion-item>
        <button class="sign_btn" ion-button round full [disabled]="addDisable" (click)="addNewAddress();">{{'Add' | translate}}</button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>