
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Offers on Alarm' | translate}}</ion-title>
    <a (click)="home()" class="home">
        <ion-icon name="home" class="cus-margin"></ion-icon>
    </a>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="isEmpty; then thenTemplateName; else elseTemplateName"></div>
    <ng-template #thenTemplateName>
        <ion-item id="contactList-list-item" class="white-clr">Record not found.</ion-item>
    </ng-template>
    <ng-template #elseTemplateName>
        <ion-list class="list-border">
            <ion-grid>
                <ion-row>
                    <ion-col col-md-3 col-sm-6 col-12 *ngFor="let row of offers">
                        <ion-card onclick="webpage()">
                            <div class="shop-img">
                                <!-- <img [src]="base_url+offers.img_path" onerror="this.src='assets/imgs/no-img.svg';" (click)="webpage();"> -->
                                <img [src]="base_url+row.img_path" (click)="webpage();">
                            </div>
                            <div class="card-title">{{row.name}}</div>
                            <div class="card-subtitle"><ion-badge class="o-badge">{{'Original price' | translate}} :$ {{row.device_price | number:'1.2-2'}}</ion-badge></div>
                            <div class="card-subtitle"><ion-badge class="off-badge">{{'Offer price' | translate}} :$ {{row.offer_amt | number:'1.2-2'}}</ion-badge></div>
                            <br/>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ng-template>
</ion-content>
