page-offer {
    ion-segment-button.segment-button.segment-activated {
        background-color: rgba(255, 255, 255, 0.14);
        border-bottom: 2px solid #fff4f4 !important;
        color: #fff;
    }
    ion-segment-button.segment-button {
        color: #fff !important;
    }
    ion-col.col {
        text-align: center;
    }
    ion-card.card.card-md {
        background-color: rgba(45, 42, 42, 0);
        margin: 0px;
        padding: 5px;
        width: 100%;
        color: #fff;
        margin: 0px;
        padding: 5px;
        width: 100%;
        color: #fff;
        cursor: pointer;
    }
    ion-title.title.title-md{
        float: left;
        padding: 5px 0 5px 0px;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
    ion-option .select-text{
        color:#fff !important;
    }
    .selectCat-cls{
        background: #2a242f !important;
    }
    .selectCat-cls .item-inner{
        border-bottom: none !important;
    }
    .select-icon-inner{
        color:#fff !important;
    }
    .select-text{
        color:#fff !important;
    }
    .select-ion-cls{
        width:100% !important;
        max-width: 100% !important;
    }
    .select-icon-inner{
        color:#fff !important;
    }
    .card-subtitle {
        margin: 10px 3px 0 3px;
    }
    ion-badge.o-badge{
        padding: 5px;
        background: tomato;
    }
    ion-badge.off-badge{
        padding: 5px;
        background: #8a2be2;
    }
}
.ios page-offer a.home{
    color:#000;
}