<ion-content class="signin" padding center text-center>
    <ion-title color="wht">Reset Password</ion-title>
    <img src="assets/imgs/logo.png">
    <!-- forgotpassword inputs field starts-->
    <ion-list>
      <form [formGroup]="form2"  (ngSubmit)="reset()">
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon> Password</ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="userResetData.password" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon> Confirm Password</ion-label>
            <ion-input formControlName="cpassword" type="password" [(ngModel)]="userResetData.cpassword" ></ion-input>
        </ion-item>
        
        <button type="submit" class="sign_btn" ion-button  round full>Reset Password</button>
      
      </form>
    </ion-list>   
  
  </ion-content>