
<ion-split-pane when="(max-width:0px)">
        
    <ion-menu id="loggedInMenu" [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()" [swipeEnabled]="false" persistent="true">

        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="outer-content">

            <ion-list>
                <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                    <ion-icon item-start [name]="p.icon" ></ion-icon>
                    {{p.title | translate}}
                </button>
                <button ion-item (click)="toggleSub();">
                    <ion-icon item-start name="ios-cog"></ion-icon>
                    {{'My Settings' | translate}}
                </button>
                <div *ngIf="viewSub">
                    <button ion-item menuClose *ngFor="let s of subpages" class="sub-menu" (click)="openPage(s)" id="sub-btn">                   
                        <ion-icon item-start [name]="s.icon" ></ion-icon>
                        {{s.title | translate}}               
                    </button>
                </div>
                <button ion-item menuClose *ngFor="let p1 of pages_1" (click)="openPage(p1)">
                    <ion-icon item-start [name]="p1.icon" ></ion-icon>
                    {{p1.title | translate}}
                </button>
                <!-- <button ion-item menuClose *ngIf="_ispaid" (click)="upgradeConfirm()">
                    <ion-icon item-start name="heart"></ion-icon>
                    {{'Upgrade' | translate}}
                </button> -->
                <button ion-item menuClose (click)="logout()">
                    <ion-icon item-start ios="ios-log-out" md="md-log-out" ></ion-icon>
                    {{'Logout' | translate}}
                </button> 
                <div id="lang" ion-item menuClose >
                    <!-- <h3 >{{'Change Language' | translate}}</h3> -->
                    <ul class="lang-list">
                        <li id="en" name="en"(click)="selectLang($event)">En</li>
                        <li id="dn"name="dn" (click)="selectLang($event)">DK</li>
                    </ul>
                    <p style="text-align: center;">Nabosupport version 2.0(11.9)</p>
                </div>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- main navigation -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>


