page-notification {
    ion-item#mySecurityDevices-list-item10,ion-item#mySecurityDevices-list-item9 {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.14);
    }
    ion-card .item-inner p {
        width:75%;
    }
    ion-card .item-inner p span {
        font-size: 10px;
    }
    ion-list{
        margin: 0px 0 5px !important;
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    ion-title.title.title-md{
        float: left;
        margin-top: 2px;
    }
    .toolbar-title.toolbar-title-md {
        color: #fff !important;
        padding: 5px 0 5px 30px;
    }
    .alert-highlit{
        border:1px solid orange !important;
        border-width:1px 1px 1px 0 !important;
    }
    .note-trash {
        position: absolute;
        right: 0;
        color:red;
        background: none;
    }
    a.home{
        float: right !important;
        color: #fff;
        margin-top:3px;
    }
    ion-item#mySecurityDevices-list-item10,ion-item#mySecurityDevices-list-item9 p{
        color:#fff;
        font-size: 16px;
    }
    ion-content{
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
      //background-color: #000 !important;
    }
    ion-card {
        min-height: 50px;
    }
    .item-inner ion-icon{
        float: left;
        padding: 10px;
    }
    .item-inner p {
        padding: 10px;
    }
    ion-icon.alert{
        color: rgba(150, 0, 0, 1);
        border-left: 5px solid rgba(150, 0, 0, 1);
        margin-right: 0;
    }
    ion-icon.sus{
        color: orange;
        border-left: 5px solid orange;
        margin-right: 0;
    }
    ion-icon.own{
        color:green;
        border-left: 5px solid green;
        margin-right: 0;
    }
}
.ios page-notification a.home{
    color:#000;
}
.ios ion-item#mySecurityDevices-list-item10,ion-item#mySecurityDevices-list-item9 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.14) !important;
}
.ios page-notification ion-card .item-inner p {
    width:75%;
}
.ios page-notification ion-card .item-inner p span {
    font-size: 10px;
}