
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ 'Notification' | translate }}</ion-title>
      <a (click)="home()" class="home">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-navbar>
  
  </ion-header>
  
  <!-- <ion-content >
      <ion-list id="mySecurityDevices-list3" *ngFor="let message of this.userMsg">
          <ion-item color="none" id="mySecurityDevices-list-item9">
            <ion-icon name="ios-notifications-outline" item-left></ion-icon>
              <p>{{message.message}}</p><br>
              <p *ngIf="message.time">Date: {{message.time}}</p>
            </ion-item>
          <ion-item color="none" id="mySecurityDevices-list-item10">
            <ion-icon name="ios-notifications-outline" item-left></ion-icon>
            Great offers on stickers just today!
            </ion-item>
      </ion-list> 
  </ion-content> -->
  
  <!-- <ion-content>
    <ion-list id="mySecurityDevices-list3" *ngFor="let message of this.userMsg">
      <div *ngIf="message.alert_status_type=='B'||message.alert_status_type=='S'">
        <a href="#" (click)="notifypage()">
          <ion-item color="none" id="mySecurityDevices-list-item9">
            <ion-icon name="ios-home" item-left></ion-icon>
            <p>{{message.message}}</p>
            <br>
            <p>Date: {{message.time}}</p>
            <ion-icon name="ios-warning" item-left></ion-icon>
          </ion-item>
        </a>
      </div>
      <div *ngIf="message.alert_status_type=='BC'||message.alert_status_type=='SC'">
        <a href="#" (click)="notifypage()">
          <ion-item color="none" id="mySecurityDevices-list-item9">
            <ion-icon name="ios-notifications" item-left></ion-icon>
            <p>{{message.message}}</p>
            <br>
            <p>Date: {{message.time}}</p>
            <ion-icon name="ios-warning" item-left></ion-icon>
          </ion-item>
        </a>
      </div>
      <div *ngIf="message.alert_status_type==='N'">
        <ion-item color="none" id="mySecurityDevices-list-item9">
          <ion-icon name="ios-notifications" item-left></ion-icon>
          <p>{{message.message}}</p>
          <br>
          <p>Date: {{message.time}}</p>
        </ion-item>
      </div>
      <div *ngIf="message.state==='empty'"> 
        <ion-item color="none" id="mySecurityDevices-list-item9">
          <ion-icon name="ios-notifications" item-left></ion-icon>
          <p>{{message.message}}</p>
          <br>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>  -->
  <ion-content>
    <ion-list *ngFor="let message of userMsg">
      <!-- <ion-item-sliding *ngFor="let message of userMsg"> -->
        <!-- <ion-item> -->
          <ion-card *ngIf="message.alert_status_type === 'BC'; else susnotify">
            <div class="item-inner">
              <ion-icon class="alert" name="ios-notifications-outline" item-left></ion-icon>
              <p (click)="locatAlert(message)">{{message.message}} <br>{{message.street_address}},{{message.city}},{{message.zipcode}},{{message.country}}<br><span>{{message.time}}</span></p>
              <button class="note-trash" (click)="removeItem(message)">
                <ion-icon name="ios-trash-outline" item-left></ion-icon>
              </button>
            </div>
          </ion-card>
        <ng-template #susnotify>
          <ion-card *ngIf="message.alert_status_type === 'SC'; else ownnotify">
            <div class="item-inner">
              <ion-icon class="sus" name="ios-notifications-outline" item-left></ion-icon>
              <p (click)="locatAlert(message)">{{message.message}} <br>{{message.street_address}},{{message.city}},{{message.zipcode}},{{message.country}}<br><span>{{message.time}}</span></p>
              <button class="note-trash" (click)="removeItem(message)">
                <ion-icon name="ios-trash-outline" item-left></ion-icon>
              </button>
            </div>
          </ion-card>
        </ng-template>

        <ng-template #ownnotify>
          <ion-card *ngIf="message.alert_status_type === 'B' || message.alert_status_type === 'S';else nonotify">
            <div class="item-inner">
              <ion-icon class="own" name="md-notifications-outline" item-left></ion-icon>
              <p (click)="locatAlert(message)">{{message.message}} <br>{{message.street_address}},{{message.city}},{{message.zipcode}},{{message.country}}<br><span>{{message.time}}</span></p>
              <button class="note-trash" (click)="removeItem(message)">
                <ion-icon name="ios-trash-outline" item-left></ion-icon>
              </button>
            </div>
          </ion-card>
        </ng-template>

        <ng-template #nonotify>
          <ion-card>
              <div class="item-inner">
                <ion-icon name="ios-notifications-outline" item-left></ion-icon>
                <p>{{message.message | translate}} <br>{{message.time}}</p>
              </div>
            </ion-card>
        </ng-template>
      <!-- </ion-item> -->
        <!-- <ion-item-options side="left">
          <button danger (click)="removeItem()"><ion-icon name="trash"></ion-icon> Delete</button>
        </ion-item-options> -->
      <!-- </ion-item-sliding> -->
    </ion-list>
  </ion-content>