page-popover {
    @font-face {
        font-family: header;
        src: url("../assets/font/SongMyung-Regular.ttf");
    }
    .add-head{
        //font-family: header !important;
        //font-weight: bold;
        font-size: 15px;
        color: #fff;
        background: #000 !important;
        text-transform: uppercase;
    }
    .add-head .item-inner .item-wrapper .label{
        font-family: header !important;
        font-weight: bold;
        color: #000 !important;
    }
    .add-list .item-inner .input-wrapper ion-label{
        // font-family: header !important;
        // font-weight: bold;
        color: #000 !important;
    }
    ion-badge.prim-badge {
        background: #000 !important;
    }
}
