
<ion-list>
  <ion-list-header class="add-head">your registered address</ion-list-header>
  <button ion-item class="add-list" (click)="close(data)" *ngFor="let data of address">
      <ion-badge *ngIf="data.primary_address =='yes'" class="prim-badge"> P </ion-badge>
      {{data.street_address}}
  </button>
</ion-list>