page-modal {
  ion-content {
    background: #f5f5f5!important;
  }
  
  .flex {
    margin-top: 80px;
   
  }
  h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin: 0 auto 0 auto !important;
    color: #4b4b4b;
  }
  ion-icon.exit-btn{
    right: 0;
    position: absolute !important;
  } 
   
}
