page-invitefriend {
    a.home {
        float: right !important;
        color: #fff;
        margin-top: 3px;
    }
    ion-title.title.title-md{
        float: left;
        padding: 12px 0px;
    }
    ul#add-list{
        list-style-type: none;
        padding-left:0;
    }
    ion-thumbnail.icn {
        margin:0 0 -30px 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        color:#fff
    }
    .item-inner {
        border-bottom: 0px !important;
    }
}
.ios page-invitefriend a.home{
    color:#000;
}
