<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'invite friend' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit(inviteForm.value)" *ngIf="formview">
    <ion-item>
      <ion-thumbnail item-start class="icn">
        <ion-icon name="ios-contact"></ion-icon> 
      </ion-thumbnail> 
      <ion-label floating>{{'NAME' | translate}}</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start class="icn">
        <ion-icon name="mail"></ion-icon> 
      </ion-thumbnail> 
      <ion-label floating>{{'EMAIL' | translate}}</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <button button type="submit" class="sign_btn" ion-button  round full style="margin-top: 20px;" type="submit">{{ 'Invite' | translate }}</button>
  </form>
  <ion-card *ngIf="txtview"> 
    <ion-card-content>
      <div *ngIf="dn">
          <p>
            Kære <b>{{formData.name}}</b>
          </p>
          <p>
            Detter er en invitation fra<b>{{formData.username}}</b>,  som gerne vil have dig med som nabosupporter.
          </p>
          <p>
            <b>{{formData.username}}</b> er allerede blevet en del af Nabosupports store netværk af naboer og alarmsystemer.
          </p>
          <p>
            Nabosupport er en ny og moderne overvågningsplatform, som samler alle dine opmærksomme naboer i nærområdet sammen med deres tyverialarmer. På den måde kan du og dine naboer reagere hurtigt på mistænkelig adfærd og alarmer og på den måde hjælpe hinanden med at skabe et trygt nærområde.
          </p>
          <p>
            Hvis det lyder interessant, så besøg os på  www.nabosupport.dk  og tilmeld dig og få gratis adgang til alle vores funktioner med det samme. Brug rabatkoden " {{promocode}} " .
          </p>
          <p>Hvis du har spørgsmål omkring denne mail, så kontakt os på  info@nabosupport.dk .</p>
          <ul id="add-list">
            <li>De bedste hilsner</li>
            <li></li>
            <li>NaboSupport Aps</li>
            <li>Skolelodden 6</li>
            <li>3550 Slangerup</li>
            <li>Denmark</li>
            <li></li>
            <li> www.NaboSupport.dk</li>
          </ul>
      </div>
      <div *ngIf="en">
        <p>
          Dear <b>{{formData.name}}</b>
        </p>
        <p>
          This is an invitation from<b>{{formData.username}}</b>,  who would like you to be a nabosupporter.
        </p>
        <p>
          <b>{{formData.username}}</b>  is all ready a part of Nabosupports great network of neighbours and burglar alarms.
        </p>
        <p>
          Nabosupport is a new and modern monitoring platform, that combine all of you neighbours in your neighbourhood, and there burglar alarms. In that way you and your neighbours can respond quickly to suspicious behavior and alarms, and help each other to create a safe neighborhood.      </p>
        <p>
          If you believe that this sound interesting, go visit us at  www.nabosupport.dk  and submit, and get free access to all of our functionalities. Use the promocode " {{promocode}} " .
        </p>
        <p>If you have any questions about this mail, please contact us at  info@nabosupport.dk .</p>
        <ul id="add-list">
          <li>Best regards</li>
          <li></li>
          <li>NaboSupport Aps</li>
          <li>Skolelodden 6</li>
          <li>3550 Slangerup</li>
          <li>Denmark</li>
          <li></li>
          <li> www.NaboSupport.dk</li>
        </ul>
      </div> 
      <button button (click)="sendInvite();" color="secondary" ion-button  round full small>{{ 'OK,send' | translate }}</button>
    </ion-card-content>
  </ion-card>
</ion-content>