/* 
    Created on : Jun 20, 2018, 12:07:33 PM
    Author     : Jayamurugan
*/
#block{
 display:none;   
}
/* login_view ---start--- */
body{
    background-image: url("http://rayi.in/nabosupport/assets/img/bg.png");
    background-size: cover;
    background-attachment: fixed;
}
.content{
    margin: 0 auto;
}
.btn-primary {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn-lg {
        border-radius: 5.3rem;
}
.form-control{
    background-color: transparent;
    border-radius:0;
}
::placeholder { 
    color: white !important;
    opacity: 0.7 !important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3f3f409e;
    outline: 0;
    box-shadow: none; 
}
@media only screen and (max-width: 600px) {
    
    .form-signin{
        max-width: 550px;
    }
    .nav-link {
        padding: 0.2rem 0rem !important;
    }
    .admin_data li {
        text-decoration: none;
        width: 100% !important; 
        float:none !important;
    }
   
}
/* login_view ---end--- */
/* shop_view ---start--- */
select#cat-drop {
    background-color:  transparent;
    border: 1px solid white;
    padding: 5px 16px;
    color:white;
}
option{
    color:black;
}
.col-md-4 p {
    color: white;
    margin-top: 10px;
}
.col-md-4{
    margin-top: 20px;
    text-align:center !important;
}
.btn{
    border-radius: 1.25rem;
    padding: .275rem 2.75rem;
}
img.img-fluid {
    height: 239px !important;
}
 .btn-primary:focus {
    box-shadow: none;
}
.btn:focus {
    box-shadow: none !important;
}
.navbar-icon {
    width: 100% !important;
}
.navbar-right li{
    padding: 0 !important;
}
/* shop_view ---end--- */
/* camera_view ---start--- */
label{
    color:white;
}
/* camera_view ---end--- */
/* cart_view start */
.empty-td {
    color:#fff;
    font-weight: 500;
    vertical-align: middle;
}