<ion-content padding>
    <ion-icon class="exit-btn" ios="ios-close-circle" md="md-close-circle" (click)="modalClose()"></ion-icon>
    <div>
      <p>{{ 'acceptpagehead' | translate }}</p>
      <div class="row" >
        <div class="col" >
          <button ion-button color="secondary" (click)='acceptReq();'>{{'acpt' | translate}}</button>
        </div>
        <div class="col" >
          <button ion-button color="danger" (click)='rejectReq();'>{{ 'rjct' | translate}}</button>
        </div>
      </div>
    </div>
</ion-content>
