page-acceptsupport {
    ion-content {
        background: #f5f5f5!important;
        height: 21% !important;
        top: 35% !important;
        width: 95%;
        margin: 10px;
    }
    ion-icon.exit-btn{
        right: 0;
        position: absolute !important;
        margin-right: 15px !important;
    }
    ion-modal.show-page{
        height: 21% !important;
        top: 35% !important;
    }
    p{
        text-align: center;
    }
    .row{
        text-align: center;
    }
    button{
        width: 108px !important;
    }
}
