// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(http://fonts.googleapis.com/css?family=Kalam);
ion-menu ion-label, ion-item ion-label, span.button-inner,ion-item input.text-input, .scroll-content a, ion-content.signin span.acc, ion-list.social P, .toolbar-title {
    font-family: 'Cabin', sans-serif;
}
ion-content.outer-content ion-list button{
    background-color: #000;
    color:#fff;
}
.toolbar-background.toolbar-background-md {
    background-color: rgba(158, 158, 158, 1);
    color: #fff;
}

button.disable-hover.bar-buttons.bar-buttons-md.bar-button.bar-button-md.bar-button-default.bar-button-default-md.bar-button-menutoggle.bar-button-menutoggle-md {
    color: #fff;
}

.toolbar-title.toolbar-title-md {
    color: #fff;
}
ion-modal.show-page{
    background: rgba(0, 0, 0, 0.66) !important;
}
ion-menu .scroll-content{
    overflow: hidden !important;
}
ion-menu ion-list {
    height: 100%;
    background: #000;
    color:#fff; 
    z-index: 99;
}
ion-menu .item .item-inner{
    border-bottom: 1px solid #eeeaea !important;
    margin-right: 24px;
}
#lang{
    background-color: #000;
}
#lang p{
    font-size: 1.1rem;
    color: #c8c7cc;
    font-weight: 600;
} 
#lang h3{
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid #404244;
}
.lang-list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.lang-list li {
    display: inline-block;
    padding: 10px;
}
li#en {
    background: rgba(158, 158, 158, 1);
    border-radius: 50%;
    color:#fff !important;
}

li#dn {
    background: rgba(158, 158, 158, 1);
    border-radius: 50%;  
    color:#fff !important;
    }

.input-wrapper .lang-list {
    text-align: center;

}
.alert-md .alert-wrapper {
    background-color: rgba(0, 0, 0, 0.9569);
    // background-color: rgba(85, 94, 110, 0.9569);
    color: #fff;
    //font-family: 'Kalam', cursive;
    border-radius: 10px;
    border: 1px solid #000;
}
.alert-ios .alert-wrapper{
    background-color: rgba(0, 0, 0, 0.9569);
    // background-color: rgba(85, 94, 110, 0.9569);
    border-radius: 10px;
    border: 1px solid #000;
}
.alert-md .alert-button .button-inner {
    color:#fff;
    font-weight: bold;
}
.alert-ios .alert-button .button-inner {
    color:#fff;
    font-weight: bold;
}
.alert-md ion-backdrop {
    background: none !important;
}
.alert-md .alert-radio-inner {
    background-color:#fff;
}
.alert-md [aria-checked=true] .alert-radio-label {
    color:orange !important;
}
.alert-md [aria-checked=true] .alert-radio-inner {
    color:orange !important;
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color:orange !important;
}
.alert-md [aria-checked=true] .alert-radio-inner {
    background-color: orange !important;
}
.alert-ios [aria-checked=true] .alert-radio-label {
    color:orange !important;
}
// .alert-ios [aria-checked=true] .alert-radio-inner {
//     color:orange !important;
// }
.alert-ios [aria-checked=true] .alert-radio-icon {
    border-color:orange !important;
}
// .alert-ios [aria-checked=true] .alert-radio-inner {
//     background-color: orange !important;
// }
.alert-1os ion-backdrop {
    background: none !important;
}
.alert-md .alert-message {
    color:#fff;
}
.alert-ios .alert-message {
    color:#fff;
}
.alert-md .alert-radio-icon {
    border-color:#fff;
}
.alert-md [aria-checked=true] .alert-radio-icon{
    border-color:#000;
}
.alert-md .alert-radio-inner {
    background-color: #000;
}
.alert-md [aria-checked=true] .alert-radio-label{
    color:#000;
}
.alert-md .alert-radio-label {
    color: #fff;
}
.alert-ios .alert-radio-icon {
    border-color:#fff;
}
.alert-ios [aria-checked=true] .alert-radio-icon{
    border-color:#000;
}
.alert-ios .alert-radio-inner {
    background-color: #000;
}
.alert-ios [aria-checked=true] .alert-radio-label{
    color:#000;
}
.alert-ios .alert-radio-label {
    color: #fff;
}
.alert-ios .alert-sub-title {
    color: #fff;
}
.alert-ios .alert-title {
    color: #fff;
}
.item-ios{
    background: transparent !important;
}
ion-menu .item .item-inner{
    border: none !important;
}
#loggedInMenu {
    background-color:  rgba(0, 0, 0, 0.247);

}
.ios ion-label {
    color:#fff;
}
ion-menu ion-list {
    overflow-y: scroll;
}
// @media only screen 
// and (min-device-width: 768px){
// form.ng-pristine.ng-invalid.ng-touched {
//   width: 75%;
//   margin: auto;
//   height: 60% !important;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%) !important;
// }
// form.ng-untouched.ng-dirty.ng-invalid {
//   width: 70% !important;
//   margin: 0 auto;
//   //background: #c2c2c2c7;
// }
// page-myaccount .upload-img{top:6% !important;}
// form.ng-untouched.ng-pristine.ng-invalid{
//   width: 70% !important;
//   margin: 0 auto;
// }
// }
#sub-btn {
    margin-left: 43px;
    font-size: 12px;
    margin-right: 0px !important;
    width: 150px !important;
    height: 30px !important;
}
#sub-btn ion-icon.icon {
    margin-right: 0;
}
#sub-btn .item-inner{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.ios .fab[mini] {
    width:50px !important;
}