<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My Account' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>
<ion-content class="signin" padding center text-center>
  <ion-list *ngIf="userdetail" class="custome-width-do-not-distrub-user">
    <form [formGroup]="form1" (ngSubmit)="profileUpdate()">
      <ion-grid>
        <ion-row>
          <ion-col col-10>
              <ion-item>
                <ion-label class="no-pad">
                  <ion-icon name="contact"></ion-icon>
                </ion-label>
                <ion-input class="no-left-pad" formControlName="username" disabled=true type="text" [(ngModel)]="userdetail[0].user_login" #username ></ion-input>
                <hr class="style14">
                <ion-input hidden formControlName="user_id" type="text" [(ngModel)]="userdetail[0].user_id"></ion-input>
                <ion-input hidden formControlName="latitude" type="text" [(ngModel)]="userdetail[0].latitude"></ion-input>
                <ion-input hidden formControlName="longitude" type="text" [(ngModel)]="userdetail[0].longitude"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="no-pad">
                  <ion-icon name="mail"></ion-icon>
                </ion-label>
                <ion-input class="no-left-pad" formControlName="mail" type="email" [email]="true" disabled="{{isDisable}}" type="text" [(ngModel)]="userdetail[0].user_email" #email></ion-input>
              </ion-item>
              <div *ngIf="mail.touched && mail.invalid" class="alertstyle">
                <div *ngIf="mail.errors.email">{{ 'Invalid Email format' | translate }}</div>
              </div>
              <ion-item>
                <ion-label class="no-pad">
                  <ion-icon name="lock"></ion-icon>
                </ion-label>
                <ion-input class="no-left-pad" formControlName="password" disabled="{{isDisable}}" type="password" [(ngModel)]="userdetail[0].user_pass" #pass></ion-input>
              </ion-item>
          </ion-col>
          <ion-col col-2>
              <div clear item-end>
                  <button *ngIf="editProfile"  ion-fab class="signbtn" (click)="profileactive();$event.preventDefault();" mini><ion-icon name="create"></ion-icon></button>
                  <button *ngIf="cancelProfile" ion-fab class="signbtn" (click)="profilecancel();$event.preventDefault();" mini><ion-icon name="close"></ion-icon></button>
                  <button *ngIf="submitProfile" [disabled]="!form1.valid" type="submit" ion-fab class="signbtn" mini><ion-icon name="checkmark"></ion-icon></button>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
  <ion-list class="custome-width-do-not-distrub-setting">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
            <div class="setting">
                <ion-label class="head-lbl notification-label"><h5 class="text-center">{{ 'Notification' | translate }}</h5></ion-label> 
                <ion-label class="f-lft">{{ 'Receiving range upto' | translate }} <ion-badge class="f-rt custome-width-do-not-distrub-range" item-left item-end><span>{{RvalueData}}</span>{{Runit}}</ion-badge></ion-label>
                <ion-item>
                    <ion-range min="100"  max="5000" step="100" (ionChange)="recrangeUser($event)" [(ngModel)]="recrange" color="secondary">
                        <ion-label range-left>100 M</ion-label>
                        <ion-label range-right>5 Km</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item class="no-border">
                    {{ 'Do not disturb' | translate }}
                    <!-- <ion-toggle [(ngModel)]="dnd" (ionChange)="toggle($event);" toggle-class="toggle-calm">Airplane Mode</ion-toggle> -->
                </ion-item>
                <ion-list radio-group [(ngModel)]="dnd" (ionChange)="toggle($event);" class="custome-width-do-not-distrub">
                  <ion-item class="pad-lft-25">
                    <ion-label>{{'Off' | translate}}</ion-label>
                    <ion-radio class="dnd-off" value="0"></ion-radio>
                  </ion-item>
                  <ion-item class="pad-lft-25">
                    <ion-label>{{'On' | translate}}</ion-label>
                    <ion-radio class="dnd-on" value="1" ></ion-radio>
                  </ion-item>
                </ion-list>
            </div>
            <!-- <div #map id="map"></div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>