/*##css for myaccount page##*/

// .ios,
.md {
  page-myaccount {
    input.text-input.text-input-md {
      padding-left: 0px;
      font-size: 14px;
      margin-bottom: 1px;
    }
    .scroll {
      height: 100%
    }
    .hidden{
      display: none;
    }
    .item-md.item-block .item-inner{
      border-width: 0px;
    }
    .m-left-23{
      margin-left: 14px;
    }
    .center80{
      margin-left:80px;
    }
    .prm-btn {
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding: 14px !important;
      background-color: #000;
    }
    button.signbtn.fab.fab-md{
      top: 0 !important;
    }
    #map {
      width: 100%;
      height: 200px !important;
    }
    ion-icon.icon.icon-md.ion-ios-locate-outline {
      padding: 7px;
    }
    item item-block item-md item-select input-has-value item-input-has-value item-select-disabled {
      color:#999;
    }
    .btn-gray {
      color: #999;
    }
    .btn-white {
      color: #fff;
    }
    .search-add{
      //position: fixed;
      z-index: 100;
      //top: 311px;
      //right: 65px;
    }
    .mrg-bot{
      margin-bottom: 25px;
    }
    #search-fab{
      top: 255px;
      left: 290px;
      height: 60px;
    }
    ion-fab-list[side=left]{
      right: 56px !important;
    }
    fab fab-md {
      width: 40px;
      height: 40px;
    }
    #serach-icn{
      margin-right: 0 !important;
    }
    .setting{
      //position: absolute;
      background-color:rgba(0, 0, 0, 0.60);
      border-radius: 20px;
      //bottom: 2%;
      // right: 15%;
      // left: 15%;
      width: 96.1%;
      color:#fff;
    }
    .f-lft {
      float: left !important;
    }
    .f-rt {
      float: right !important;
    }
    .setting .label{
      color:#fff;
      width: 90% !important;
    }
    ion-radio.dnd-off.radio-md .radio-checked{
      border-color: #771910;
    }
    ion-radio.dnd-off.radio-md .radio-inner{
      background-color: #771910;
    }
    ion-radio.dnd-on.radio-md .radio-checked{
      border-color:#0b590c;
    }
    ion-radio.dnd-on.radio-md .radio-inner{
      background-color:#0b590c;
    }
    ion-badge.badge.badge-md {
      margin-left: 10px;
      background-color:#000;
    }
    ion-label h5.text-center {
      text-align: center;
      margin-top:10px !important;
      margin-left: -25px;     
    }
    ion-label.head-lbl {
      width: 100% !important;
    }
    .range-md [range-left] {
      margin: 0 12px 0 0;
      float: left;
      color: #fff;
      font-size: 10px;
      width: 40px !important;
    }
    .range-md [range-right] {
      margin: 0 12px 0 0;
      float: right;
      color: #fff;
      font-size: 10px;
      width: 40px !important;
    }
  }
  .no-pad{
    width: 50px !important;
    height: 50px !important;
    margin: 0px 0px 0px 10px !important;
  }
  .no-left-pad{
    padding-left: 0px !important;
  }
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

page-myaccount {
  .custome-width-do-not-distrub-range{
    width:76px;
  }
  .scroll-content {
    padding: 0px 16px !important;
}
  .custome-width-do-not-distrub{
    width:100px !important;
  }
  .custome-width-do-not-distrub-user,.custome-width-do-not-distrub-setting{
    margin-bottom: 0px !important;
  }
  .custome-width-do-not-distrub-setting .setting .notification-label{
margin-top: 0px !important;
  }
  #map {
    width: 100%;
    height: 200px;
  }
  .toolbar-title.toolbar-title-md {
    color: rgb(0, 0, 0);
    font-family: inherit;
    margin: 12px;
  }
  ion-title.title.title-md {
    float: left;
  }
  ion-fab-list[side=left] {
    margin-right: 0;
  }
  ion-fab-list {
    margin-top:100px !important;
  }
  .prim-btn {
    border-radius: 20px;
  }
  a.home {
    float: right !important;
    color: #fff;
    margin-top: 5px;
  }
  // ion-label {
  //   width: 40% !important;
  // }
  #over_map {
    position: absolute;
    width: 100%;
    height: 12%;
    bottom: 87%;
    z-index: 99;
    background-color: none;
    color: #080101;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
  }
  #over_map .s-box {
    padding: 0 !important;
    // border: 1px solid rgba(63, 58, 58, 0.801);
    // border-radius: 5px;
    // background: rgba(36, 42, 49, 0.847)
  }
  #pac-input{
    margin-left: 0 !important;
  }
  .s-boxt::-moz-placeholder {
    color: red;
  }
  
  .s-box:-ms-input-placeholder {
    color: red;
  }
  
  .s-box::-webkit-input-placeholder {
    color: red;
  }
  .upload-img {
    position: absolute;
    left: 52%;
    top:14%;
    width: 50px;
    height: 50px;
    bottom: 90%;
    z-index: 99;
    background-color: #000;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 10px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
  .upload-img ion-icon{
    vertical-align: middle;
    margin: 0;
    padding: 5px;
  }
  ion-item ion-icon{
    margin-right: 30px;
    width: 10px;
    height: 10px;
  }
  .add-bar ion-item ion-input {
    padding-left: 0 !important;
  }
  ion-item ion-input {
    padding-left: 33px !important;
  }
  ion-item.add-head {
    color: #999;
  }
  ion-item.add-head ion-icon {
    color: #999;
  }
  ion-item hr.style14{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    
  }
  textarea.text-input{
    width: calc(100% - 0px - 7px) !important;
    height: 100% !important;
    color:#fff !important;
  }
  #over_map ion-list.list-md{
    background-color: #fff !important;
  }
  .search-item-cls .label{
    white-space: normal !important;
    font-size: 12px;
  }
}

button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-full.button-full-md {
  background-color: rgba(169, 169, 169, 0);
  border: 1px solid #fff;
  margin: 16px 0px 16px 0px;
  padding: 24px 0px;
}

ion-item.item.item-block.item-md.item-input.ng-untouched.ng-dirty.ng-valid.input-has-value.item-input-has-value {
  background-color: rgba(255, 255, 255, 0);
}

ion-item.item.item-block.item-md {
  background-color: rgba(0, 255, 255, 0);
}

ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-valid {
  background-color: rgba(127, 255, 212, 0);
}

.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-focus.item-input-has-focus.ng-dirty {
  background-color: rgba(255, 255, 255, 0);
}

ion-item.ng-touched {
  background-color: rgba(127, 255, 212, 0);
}

ion-label#lbl-2 {
  color: #fff;
}

ion-label#lbl-3 {
  color: #fff;
}

ion-label#lbl-4 {
  color: #fff;
}

ion-label#lbl-5 {
  color: #fff;
}

ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-invalid {
  background-color: rgba(127, 255, 212, 0);
}

.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-invalid.input-has-value.item-input-has-value.ng-dirty {
  background-color: rgba(127, 255, 212, 0);
}

.alertstyle {
  color: #ff9c9c;
}

ion-content.signup span.acc {
  color: #dbdfe4;
  font-size: 10px;
  padding: 16px;
}

ion-content {
  background-image: url('../assets/imgs/bg.png'); //background-color: #000 !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-invalid.ng-dirty {
  background-color: rgba(245, 245, 220, 0);
}

ion-icon {
  display: inline-block;
  font-size: 2.3em;
  margin-right: 20px;
}

input.text-input.text-input-md {
  margin-top: 0px;
  padding-left: 45px;
}

img.pimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.scroll {
  height: 100%
}

#map {
  width: 100%;
  height: 100%;
}

ion-icon.icon.icon-md.ion-md-create {
  margin-right: 0px;
}

button.fab.fab-md {
  background-color: rgba(132, 132, 82, 0);
  border: 1px solid;
}

ion-icon.icon.icon-md.ion-ios-camera-outline {
  margin-right: 0px;
}

ion-icon.icon.icon-md.ion-md-checkmark {
  margin-right: 0px;
}

button.signbtn.fab.fab-md {
  position: relative;
  top: -44px;
}

ion-icon.icon.icon-md.ion-md-close {
  margin-right: 0px;
}
.list-md .item-block .item-inner{
  border-bottom-width: 0px !important;
}

#marker {
  height: 38px;
  width: 38px; // border: 3px solid blue;
  // border-radius: 50%;
  background-image: url('../assets/imgs/pin_1.png');
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  background-color: rgba(46, 122, 144, 0.46);
  border-radius: 45px;
  background-position: 50%;
}

button.map_btn {
  position: absolute;
  background-color: #fff;
  color: #000000;
  bottom: 120px;
  right: 6px;
  border-radius: 50%;
}

ion-icon.icon.icon-md.ion-ios-locate-outline {
  margin-right: 0px;
}

ion-content.map-pin.content.content-md {
  overflow-x: hidden !important;
}

.map-pin .scroll-content {
  padding: 0px !important;
  overflow-y: hidden;
}

ion-content.map-pin.content.content-md {
  background: #ff7f5000 !important;
  height: 50%;
}

ion-content.map-pin #marker {
  // width: 5% !important;
  margin: 0 auto !important;
  margin-top: -54% !important;
  position: relative !important;
}
ion-select.select{
  color: #fff;
}
.add-select {
  padding-left:0px;
  margin-right:15px;
}
option:checked{
  color:#fff;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px !important;
  background-color: #000;
}
.add-edit-btn {
  padding: 20px 10px !important;
  background-color: #000;
  font-size: 10px;
}
.list-btn{
  display: block;
  padding: 10px !important;
  background-color: #000;
}
.toolbar-title.toolbar-title-md {
  color: #fff !important;
}
.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
 {
  // border-bottom: 1px solid #969696 !important;
  box-shadow: none !important;
  border: none !important;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
  border: none !important;
  box-shadow: none !important;
}
.fab-ios {
  background-color: rgba(169, 169, 169, 0);
  border: 1px solid #fff;
  margin: 16px 0px 16px 0px;
  padding: 24px 0px;
  text-align: center;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  width: 56px;
  height: 56px;
  font-size: 14px;
  line-height: 56px;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color, opacity 100ms linear;
  transition: background-color, opacity 100ms linear;
  background-clip: padding-box;
  -webkit-font-kerning: none;
  font-kerning: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  contain: strict;
}
.fab-ios ion-icon {
  text-align: center;
}
.ios page-myaccount #map {
  height: 200px !important;
}
.ios page-myaccount a.home{
  color:#000;
}
.ios page-myaccount .hidden{
  display: none;
}
.ios page-myaccount ion-item ion-input {
  color:#fff !important;
}
.ios page-myaccount ion-label {
  color:#999;
}
.ios page-myaccount ion-fab button.signbtn {
  margin-top: -44px;
}
.ios page-myaccount ion-fab button.fab-ios {
  width:44px;
  height: 30px;
  text-align: center;
  margin-bottom: 3px;
}
.ios page-myaccount ion-fab button.fab-ios ion-icon {
  margin-right: 0 !important;
}
.ios page-myaccount button.map_btn {
  width: 50px;
  height: 50px;

}
.ios page-myaccount button.map_btn ion-icon {
  margin-right: 0 !important;
}

.item-ios.item-block .item-inner{
  border-width: 0px;
}

.ios page-myaccount button.add-edit-btn {
  padding: 20px 10px !important;
  background-color: #000;
  font-size: 10px;
}
.ios page-myaccount button.center80{
  margin-left:80px;
}
.ios page-myaccount .disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.list-ios > .item-block:last-child{
  border-bottom-width: 0px;
}
.ios page-myaccount ion-fab-list {
  margin-top:100px !important;
}
.ios page-myaccount button.signbtn.fab.fab-md{
  top: 0 !important;
}
.ios .badge-ios {
  margin-left:10px;
  background-color:#000;
}
.ios page-myaccount .setting .label{
  color:#fff;
}
.ios page-myaccount ion-radio.dnd-off.radio-ios .radio-checked{
  border-color: #771910;
}
.ios page-myaccount ion-radio.dnd-off.radio-ios .radio-inner{
  border-color: #771910;
}
.ios page-myaccount ion-radio.dnd-on.radio-ios .radio-checked{
  border-color:#0b590c;
}
.ios page-myaccount ion-radio.dnd-on.radio-ios .radio-inner{
  border-color:#0b590c;
}
.ios page-myaccount ion-badge.badge.badge-md {
  margin-left: 10px;
  background-color:#000;
}
.ios page-myaccount ion-label h5.text-center {
  text-align: center;
  margin-top:10px !important;
  margin-left: -25px;     
}
.ios page-myaccount .no-pad{
  width: 50px !important;
  height: 50px !important;
  margin: 0px 0px 0px 10px !important;
}
.ios page-myaccount .no-left-pad{
  padding-left: 0px !important;
}
.ios page-myaccount .setting{
  //position: absolute;
  background-color:rgba(0, 0, 0, 0.60);
  border-radius: 20px;
  //bottom: 2%;
  // right: 15%;
  // left: 15%;
  width: 96.1%;
  color:#fff;
}
.ios page-myaccount .setting .item-ios{
  padding-left: 16px !important;
} 
.ios page-myaccount .setting ion-item.pad-lft-25 {
  padding-left: 25px !important;
}
.ios page-myaccount .list-ios > .item-block:first-child {
  border-top: none !important;
}
.range-ios [range-left] {
  margin: 0 12px 0 0;
  float: left;
  color: #fff;
  font-size: 10px;
  width: 40px !important;
}
.range-ios [range-right] {
  margin: 0 12px 0 0;
  float: right;
  color: #fff;
  font-size: 10px;
  width: 40px !important;
}
#slct-add{
  cursor: pointer;
  padding-left: 200px;
  margin-top: -27px;
}

page-myaccount textarea.text-input {
  line-height: 1.1 !important;
}
page-myaccount ion-searchbar.searchbar-md {
  margin-left: 7px;
  z-index: 9998;
}
page-myaccount #sug {
  //top: -265px;
  position: relative;
  background: #fff;
  width: 94%;
  margin-left: 8px;
  z-index: 9998;
  // top: -271px;
  max-height: 220px;
  overflow-y: scroll
}
.platform-android .scroll-content{
  margin-top: 0;
  margin-bottom:0;
  padding-top:0;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
@media only screen and (min-device-width: 768px){
  page-myaccount .upload-img{top:6% !important;}
  }