<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Help' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="cfaq">
    <ion-card-header>
      {{'FAQ' | translate}}
    </ion-card-header>
    <ion-card-content>
        <h3><b>Søger du svar på noget omkring vores produkt, kan du måske finde svar her. Du er også velkommen til at kontakte os på Nabosupport.dk.</b></h3>
      <ion-list>
        <ul class="faq-ul">
          <li>
            <b>Hvad betyder de forskellige farvet ikoner?</b>
          </li>
        </ul>
        <p>
          <span class="blue">Blå</span> = Nabosupporter
          <br>
          <span class="red">Rød</span> = Alarm - Dette kan f.eks. være et indbrud.
          <br>
          <span class="Orange">Orange</span> = Mistænkelig adfærd - Det kan f.eks. være en mistænkelig bil som kører rundt i området. Ved at trykke
          på ikonet kan du bl.a. bekræfte t du har set det samme eller at du allerede har informeret politiet.
        </p>
      </ion-list>
      <ion-list>
        <ul class="faq-ul">
          <li>
            <b>Min placering på kortet vises ikke.</b>
          </li>
        </ul>
        <p>
          Er din adresse ikke markeret på kortet, kan der være gået noget galt med din konto. Kontakt Nabosupport.dk og vi vil hjælpe
          dig i gang.
        </p>
      </ion-list>
      <ion-list>
          <ul class="faq-ul">
            <li>
              <b>Der er ingen nabosupportere i området.</b>
            </li>
          </ul>
          <p>
              Hvis der endnu ikke er andre nabosupportere i dit område, skal du tage fat i dine nærmeste naboer. Vi står stærkere når vi er flere i vores netværk.
          </p>
        </ion-list>
        <ion-list>
          <ul class="faq-ul">
            <li>
              <b>Hvordan ændrer jeg min mail?</b>
            </li>
          </ul>
          <p>
            Inde under dine kontoindstillinger i app’en kan du ændre dine informationer.
          </p>
        </ion-list>
        <ion-list>
          <ul class="faq-ul">
            <li>
              <b>Hvordan opretter jeg min alarm?</b>
            </li>
          </ul>
          <p>
              For at få oprettet din alarm til Nabosupport, skal du være abonnent hos os. Efterfølgende skal du indtaste dit Alarm ID på din adresse under menupunktet “Min alarm”
              Nabosupport skal også oprettes som kontaktperson i det alarmsystem med følgende telefonnummer: +44 7481 347005              
          </p>
        </ion-list>
        <ion-list>
          <ul class="faq-ul">
            <li>
              <b>Mit alarmselskab er der ikke.</b>
            </li>
          </ul>
          <p>
            Hvis vi endnu ikke har tilføjet din alarmselskab hos Nabosupport, kan du kontakte os på Nabosupport.dk. Vi vil efterfølgende sørge for at også din alarm kan forbindes til Nabosupport.            
          </p>
        </ion-list>
        <ion-list>
          <ul class="faq-ul">
            <li>
              <b>Jeg modtager ikke en notifikation når min alarm går i gang.</b>
            </li>
          </ul>
          <p>
            Hvis ikke du modtager en notifikation ved alarm, kan dit Alarm ID muligvis ikke være indtastet korrekt. 
          </p>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>