page-help {
    p{
        padding: 3px 15px;
        text-align: center;
    }
    a.home {
        float: right !important;
        color: #fff;
        margin-top: 3px;
    }
    ion-title.title.title-md{
        float: left;
        padding: 12px 0px;
    }
    ion-card .cfaq{
        height: auto !important;
    }
    ion-list .faq-ul {
        padding: 0px 0px 0px 16px;
        margin: 5px 0px;
    }
    ion-list p {
        text-align: justify;
    }
}
.ios page-help p{
    padding: 3px 15px;
    text-align: center;
}
.ios page-help a.home{
    color:#000;
}
.ios page-help ion-list .faq-ul {
    padding: 0px 0px 0px 16px;
    margin: 5px 0px;
}
.ios page-help ion-list p {
    text-align: justify;
}
span.blue{
    color:blue;
}
span.red{
    color:red;
}
span.Orange{
    color: orange;
}