
/*##css for forgot page##*/
page-forgotpassword {
    .toolbar-title.toolbar-title-md {
        color: #fff;
        font-family: inherit;
        margin: 12px;
    }
    ion-content{
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
      //background-color: #000 !important;
     }
     input.text-input.text-input-md{
         color:#fff;
     }
}
  
button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-full.button-full-md {
    background-color: rgba(169, 169, 169, 0);
    border: 1px solid #fff;
    margin: 16px 0px 16px 0px;
}
ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-valid {
    background-color: rgba(127, 255, 212, 0);
}
ion-item.ng-touched {
    background-color: rgba(127, 255, 212, 0);
}
input.text-input.text-input-md {
    color: #fff;
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-focus.item-input-has-focus.ng-dirty {
    background-color: rgba(255, 255, 255, 0);
    }
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #ffffff;
}

ion-label#lbl-0 {
    color: rgb(201, 198, 198);
}

ion-label#lbl-1 {
    color: rgb(201, 198, 198);
}
.scroll-content a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

ion-list.social.list.list-md {
    color: #fff;
    padding: 24px;
    font-size: 25px;
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #d3d3d3;
  -webkit-box-shadow: inset 0 -1px 0 0 #aeaeae;
  box-shadow: inset 0 -1px 0 0 #7d7e80;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #969696;
}
button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md {
    padding: 10px 5px 9px 10px;
    background-color: rgba(85, 86, 88, 0);
    border: 1px solid;
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-value.item-input-has-value.ng-dirty {
    background-color: rgba(240, 255, 255, 0);
    }
    ion-content.signin span.acc {
        color: #dbdfe4;
        font-size: 10px;
        padding: 16px;
    }
    ion-list.social P {
        font-size: 14px;
    }
    ion-content{
        background-image: url('../assets/imgs/bg.png');
      //background-color: #000 !important;
     }
     ion-item.center{
        text-align: center;
     }
     .ios input.text-input.text-input-ios{
        color:#fff;
    }