<ion-content class="signin" padding center text-center>
  <ion-title color="wht">Forgot Password</ion-title>
  <img src="assets/imgs/logo.png">
  <ion-list>
    <form [formGroup]="form1"  (ngSubmit)="forgot()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="ios-mail-open-outline"></ion-icon> {{ 'Email id' | translate }}</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="userForgotData.email" ></ion-input>
      </ion-item>
      <button type="submit" class="sign_btn" ion-button  round full>{{ 'Submit' | translate }}</button>
      <button type="button" class="sign_btn" ion-button  round full (click)="gotoBack()">{{'Back' | translate}}</button>
    </form>
  </ion-list>   

</ion-content>