
    
<ion-content class="signup" padding center text-center>
  
 
  <ion-title color="wht">{{ 'SIGN UP' | translate }}</ion-title>
  <img src="assets/imgs/logo.png">
     <ion-list>
       <!--sign in form input field start-->
       <form [formGroup]="form" (ngSubmit)="signup()" >
        <ion-item>          
          <ion-thumbnail class="icn" item-start>
         <ion-icon name="ios-contact"></ion-icon> 
       </ion-thumbnail>
          <ion-label  floating> {{ 'Username' | translate }}</ion-label>
          <ion-input formControlName="username" focuser id="usersignup" type="text" [(ngModel)]="userData.username"></ion-input>
         
       </ion-item>
       <div *ngIf="username.touched && username.invalid" class="alertstyle">
         <div *ngIf="username.errors.required">{{ 'Please provide a username' | translate }}</div>
       </div>

       <ion-item>
           <ion-thumbnail class="icn" item-start>
               <ion-icon name="ios-mail"></ion-icon> 
             </ion-thumbnail>
         <ion-label floating> {{ 'Email id' | translate }}</ion-label>
         <ion-input formControlName="mail" type="email" [(ngModel)]="userData.email_id" email="true"></ion-input>
       </ion-item>
       <div *ngIf="mail.touched && mail.invalid" class="alertstyle">
          <div *ngIf="mail.errors.email">{{ 'Invalid Email format' | translate }}</div>
       </div>

       <ion-item>
           <ion-thumbnail class="icn" item-start>
               <ion-icon name="ios-lock"></ion-icon> 
             </ion-thumbnail>
         <ion-label floating> {{ 'Password' | translate }}</ion-label>
         <ion-input formControlName="password" type="password" [(ngModel)]="userData.password"></ion-input>
       </ion-item>
       <div *ngIf="password.touched && password.invalid" class="alertstyle">
         <div *ngIf="password.errors.required">{{ 'Please provide a password' | translate }}</div>
        
       </div>
      
       <button ion-button type="submit" class="sign_btn"   round full>{{ 'Create Account' | translate }}</button>
       </form>
        <!--sign in form input field end-->
       <span class="acc">{{ 'ALREADY HAVE AN ACCOUNT ?' | translate }}</span> <a href="#" (click)="login()">{{ 'Sign In' | translate }}</a>
     </ion-list>
   
</ion-content>