page-contact {
    ion-icon{
        margin-right:0px !important;
    }
    .req-pend {
        margin-right: 0px !important;
        padding: 0 5px;
        font-size: 25px;
        font-weight: 600;
        vertical-align: middle;
        color: #fff;
    }
    .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{
        color:#fff;
    }
    ion-segment-button.segment-button.segment-activated {
        background-color: rgba(255, 255, 255, 0.14) !important;
        border-bottom: 2px solid rgb(255, 244, 244) !important;
        color: #fff;
    }
    ion-segment-button.segment-button {
        color: #fff !important;
        border-color: rgba(72, 138, 255, 0) !important;
    }
    .segment-ios .segment-button {
        height: 4.2rem !important;
        line-height: 4rem !important;
    }
    .code-cls {
        height: 40px;
        line-height: 19px; // margin-top: 27px !important;
        text-transform: uppercase;
    }
    .select-cls {
        width: 85% !important;
        padding: 0px !important;
        height: 34px !important; // border-bottom: 1.4px solid #ccc;
    }
    .select-icon {
        width: 20px !important;
    }
    input.text-input {
        margin-left: 10px !important;
    }
    .phone-thumb-cls {
        width: 15px;
        float: left;
        padding-left: 15px;
        padding-top: 15px;
    }
    .select-item .item-inner {
        height: 77px;
    }
    p {
        color: #fff;
        font-size: 16px;
        font-family: inherit;
        font-weight: 300;
        text-align: center;
    }
    ion-item#contactList-list-item {
        background-color: rgba(255, 255, 255, 0.14);
        color: #fff;
        border-bottom: 1px solid rgba(86, 84, 84, 0.45);
    }
    .item-inner {
        border-bottom: 0px !important;
    }
    ion-title.title.title-md {
        float: left;
        padding: 5px 0px 5px 20px;
    }
    ion-content [padding] {
        padding: 0 !important;
    }
    a.home {
        float: right !important;
        color: #fff;
        margin-top: 3px;
    }
    ion-thumbnail {
        margin: 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        color: #fff;
    }
    ion-label {
        margin-bottom: 10px !important;
    }
    ion-content {
        background-image: url('../assets/imgs/bg.png');
        background-size: cover;
        background-repeat: no-repeat; //background-color: #000 !important;
    }
    ion-select.select {
        width: 15%;
        position: absolute;
        bottom: 5px;
        color: #ffffff;
    } // .phone_number ion-input.input.ng-pristine.ng-invalid.ng-touched {
    //     width: 80% !important;
    //     margin-left: 20%;
    // }
    // .phone_number ion-label#lbl-14 {
    //     margin-left: 20% !important;
    // }
    // .phone_number input.text-input{
    // margin-left: 20% !important;
    //}
    .select-icon-inner {
        left: -50px !important;
    }
    .select-item {
        padding-left: 42px !important;
    }
    .select-text {
        padding-left: 12px;
    }
}

.ios page-contact a.home{
    color:#000;
}
.ios page-contact input.text-input {
    margin-left: 10px !important;
}
.ios page-contact .req-pend{
    font-weight: 100 !important;
}