<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My Addresses' | translate}}</ion-title>
    <a (click)="home()" class="home">
      <ion-icon name="home"></ion-icon>
    </a>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="myaddress" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="addresslist">
      {{'Address list' | translate}}
    </ion-segment-button>
    <ion-segment-button value="address">
      {{'Add address' | translate}}
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="myaddress" padding>
    <ion-list *ngSwitchCase="'addresslist'">
      <div *ngIf="_ispaid;else normal_user">
        <span *ngFor="let item of addresses;let i = index">
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <ion-item id="contactList-list-item">
                    <ion-input disabled="{{!isDisabled[i]}}" [(ngModel)]="item.street_address"></ion-input>
                  </ion-item>
                  <ion-item id="contactList-list-item">
                    <ion-input disabled="{{!isDisabled[i]}}" [(ngModel)]="item.city"></ion-input>
                  </ion-item>
                  <ion-item id="contactList-list-item">
                    <ion-input disabled="{{!isDisabled[i]}}" [(ngModel)]="item.country"></ion-input>
                  </ion-item>
                  <ion-item id="contactList-list-item">
                    <ion-input disabled="{{!isDisabled[i]}}" [(ngModel)]="item.zipcode"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-3>
                  <div clear item-end>
                    <button *ngIf="i == 0" ion-fab type="button" class="sign_btn" mini>
                      <ion-icon name="ios-home" color="secondary"></ion-icon>
                    </button>
                    <button *ngIf="i !== 0 && addUpdate" ion-fab type="button" class="sign_btn" (click)="setPrimaryAddress(item,i)" [class.hidden]="!addUpdate[i]"
                      mini>
                      <ion-icon name="ios-home" [color]="secondary"></ion-icon>
                    </button>
                    <button *ngIf="addEdit" ion-fab type="button" class="sign_btn" (click)="editAddress(i)" [class.hidden]="addEdit[i]" mini>
                      <ion-icon name="create"></ion-icon>
                    </button>
                    <button *ngIf="addUpdate" ion-fab type="button" class="sign_btn" (click)="updateOldAddress(item,i)" [class.hidden]="!addUpdate[i]"
                      mini>
                      <ion-icon name="checkmark"></ion-icon>
                    </button>
                    <button *ngIf="i !== 0" ion-fab type="button" class="sign_btn" (click)="deleteAddress(item,i)" [class.hidden]="(item.primary_address == 'yes') ? true : false"
                      mini>
                      <ion-icon name="close"></ion-icon>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </span>
      </div>
      <ng-template #normal_user>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col col-9>
                <ion-item id="contactList-list-item">
                  <ion-input disabled="{{dis}}" [(ngModel)]="normalUser.street_address"></ion-input>
                </ion-item>
                <ion-item id="contactList-list-item">
                  <ion-input disabled="{{dis}}" [(ngModel)]="normalUser.city"></ion-input>
                </ion-item>
                <ion-item id="contactList-list-item">
                  <ion-input disabled="{{dis}}" [(ngModel)]="normalUser.country"></ion-input>
                </ion-item>
                <ion-item id="contactList-list-item">
                  <ion-input disabled="{{dis}}" [(ngModel)]="normalUser.zipcode"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <div clear item-end>
                  <button *ngIf="addE" ion-fab type="button" class="sign_btn" (click)="editNAddress()" mini>
                    <ion-icon name="create"></ion-icon>
                  </button>
                  <button *ngIf="addU" ion-fab type="button" class="sign_btn" (click)="updateNAddress(normalUser)" mini>
                    <ion-icon name="checkmark"></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ng-template>
    </ion-list>
    <ion-list *ngSwitchCase="'address'" class="mapAddAddress-cls">
      <div *ngIf="_ispaid;else no_add">
        <ion-item>
          <div class="search-add">
            <ion-searchbar class="s-box" id="pac-input" [(ngModel)]="autocomplete.query" [showCancelButton]="false" (ionInput)="updateSearch()"
              (ionCancel)="dismiss()" placeholder="Enter your address here..."></ion-searchbar>
            <ion-list id="sug">
              <ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)" class="search-item-cls">
                {{ item.description }}
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div #map id="map"></div>
          <!-- <div id="marker"></div> -->
        </ion-item>
        <ion-item>
          <button class="sign_btn" ion-button round full [disabled]="addDisable" (click)="addNewAddress();">{{'Add' | translate}}</button>
        </ion-item>
      </div>
      <ng-template #no_add>
        <ion-card id="n-card">
          <h2 class="card-pad">{{'Become a paid user to add multiple address' | translate}}</h2>
        </ion-card>
      </ng-template>
    </ion-list>
  </div>
</ion-content>