page-address {
    ion-title.title.title-md {
        float: left;
        padding: 5px 0px 5px 20px;
    }
    .hidden{
        display: none !important;
    }
    .card-pad{
        padding: 15px;
    }
    a.home {
        float: right !important;
        color: #fff;
        margin-top: 3px;
    }
    #map {
        width: 100%;
        height: 200px !important;
    }
    #n-card{
        background: #fff !important;
    }
    #marker {
        position: absolute;
        top: calc(50% - 35px);
        left: calc(50% - 39px);
        height: 38px;
        width: 38px;
        background-image: url('../assets/imgs/pin_1.png');
        box-sizing: border-box;
        pointer-events: none;
        background-color: rgba(46, 122, 144, 0.46);
        border-radius: 45px;
        background-position: 50%;
        z-index: 99;
    }
    ion-card.card.card-md {
        background: rgba(0, 0, 0, 0.81);
    }
    ion-segment-button.segment-button.segment-activated {
        background-color: rgba(255, 255, 255, 0.14) !important;
        border-bottom: 2px solid rgb(255, 244, 244) !important;
        color: #fff;
    }
    ion-segment-button.segment-button {
        color: #fff !important;
        border-color: rgba(72, 138, 255, 0) !important;
    }
    .segment-ios .segment-button {
        height: 4.2rem !important;
        line-height: 4rem !important;
    }
    .list-md .item-input:last-child {
        border-width: 0px;
    }
    .search-item-cls .label{
        white-space: normal !important;
        font-size: 12px;
    }
    #sug {
        //top: -265px;
        position: relative;
        background: #fff;
        width: 94%;
        margin-left: 8px;
        z-index: 9998;
        // top: -271px;
        max-height: 220px;
        overflow-y: scroll
    }
    .add-edit-btn {
        width:100%;
    }
    .mapAddAddress-cls ion-searchbar,.mapAddAddress-cls ion-label,.mapAddAddress-cls ion-item .item-inner,.mapAddAddress-cls ion-item{
        padding:0px !important;
        margin: 0px !important;
    }
    .search-add ion-list{
        width:100% !important;
        margin-left: 0 !important;
        padding: 0px 8px !important;
    }
    .search-add .searchbar-md .searchbar-input{
        padding:6px 30px;
    }
    .search-add .searchbar-md .searchbar-search-icon{
        // right:16px !important;
        left: 8px !important;
    }
    .search-add .searchbar-md .searchbar-clear-icon{
        right:8px !important;
    }
}
.ios page-address a.home{
    color:#000;
}
.ios page-address .list-md .item-input:last-child {
    border-width: 0px;
}
.ios page-address ion-label.label.label-ios {
    color:#000;
}
.ios page-address ion-card.card{
    background: rgba(0, 0, 0, 0.81);
}
.ios page-address .text-input[disabled] {
    color: #999999;
    opacity: .6;
}
.ios page-address .item-ios {
    color:#fff !important;
}