page-setting {
    ion-header.header.header-md::after {
        background-image: none;
    }
    .toolbar-background.toolbar-background-md {
        background-color: rgba(0, 0, 0, 0);
    }
    .toolbar-title.toolbar-title-md {
      display: none;
  }
  .bar-button-md {
    height: 100%;
    }
  .scroll-content {
    margin-top: 0px !important;
}
    ion-icon.icon.icon-md.ion-md-menu {
       
        margin: 0px;
        background-color: #000;
        border-radius: 30px;
        font-size: 18px;
        padding: 10px 12px 10px 12px;
        // border: 1px solid #c1bfbf;
    }
    
    ion-icon.icon.icon-md.ion-md-home {
        background-color: #000;
        border-radius: 30px;
        font-size: 18px;
        padding: 10px 12px 10px 12px;
        // border: 1px solid #c1bfbf;
    }
    .setting{
        position: absolute;
        background-color:rgba(0, 0, 0, 0.81);
        border-radius: 20px;
        bottom: 2%;
        right: 15%;
        left: 15%;
    }
    ion-label {
        color: #dedbdb;
    }
    ion-title.title.title-md{
        float: left;
        margin-top: 2px;
    }
    a.home{
        float: right !important;
        color: #000;
        font-size: 18px;
        margin-bottom: 10px;
    }
   

ion-toggle.toggle.toggle-md.ng-valid.ng-touched.toggle-checked .toggle-icon .toggle-inner {
    background: #32db64 !important;
}
ion-toggle.toggle.toggle-md.ng-untouched.ng-pristine.ng-valid.toggle-checked .toggle-icon .toggle-inner{
    background: #32db64 !important;
}
ion-toggle.toggle.toggle-md.ng-valid.ng-touched .toggle-icon .toggle-inner {
    background: rgba(255, 0, 0, 0.88) !important;
}
ion-toggle.toggle.toggle-md.ng-untouched.ng-pristine.ng-valid .toggle-icon .toggle-inner{
    background: rgba(255, 0, 0, 0.88) !important;
}
 .border .item-inner{
    border-bottom: unset!important;
}
ion-segment-button.off.segment-button {
    background: green;
    color:#fff;
    border-radius: 0px 16px 16px 0px !important;
}

ion-segment-button.on.segment-button{
    background: rgb(150, 0, 0);;
    color: #fff;
    font-size: 11px;
    padding-top: 2px;
    font-weight: 740;
    border-radius: 16px 0px 0px 16px !important;
}

ion-segment.segment{
   
     width:75px !important;
     height: 20px !important;
     position: absolute !important;
     right: 10px !important;
     top:13px !important;
    
}
.segment-button{
    
    border:1px solid #fff !important;
}
.segment-button.segment-activated{
    background: #fff !important;
    color:#fff !important;
}
ion-segment-button.segment-button{
    height: 2.2rem !important;
    line-height: 1.8 !important;
  
}
ion-label.text-center.label.label-md {
    text-align: center;
}
ion-badge.badge.badge-md {
    margin-left: 10px;
    background-color:#000;
}
.setting .item-md,.item-ios{
    padding-left: 0 !important;
}
}
.ios page-setting a.home{
    color:#000;
}
.ios .label-ios {
    margin-left: 10px;
}
.ios .badge-ios {
    margin-left:10px;
    background-color:#000;
}
.ios .range-ios .range-knob {
    width:12px;
    height: 12px;
    top:15px;
}
.label-md {
    margin: 13px 8px 13px 10px !important;
}
  h5.text-center {
    text-align: center;
}
ion-item.no-border.item-md.item-block .item-inner{
    border-bottom: none !important;
}
ion-item.no-border.item-ios.item-block .item-inner {
    border-bottom: none !important;
}