
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'User Settings' | translate }}</ion-title>
        <a (click)="home()" class="home">
            <ion-icon name="close-circle"></ion-icon>
        </a>
    </ion-navbar>

</ion-header>


<ion-content>
    <div #map id="map"></div>
    <div class="setting">
        <ion-label><h5 class="text-center">Notification</h5></ion-label> 
        <ion-label >{{ 'Receiving Range upto' | translate }}</ion-label>
        <ion-badge item-left><span>{{Runit}}</span>{{RvalueData}}</ion-badge>
        <ion-item>
            <ion-range min="100" max="5000" step="100" (ionChange)="recrangeUser($event)" [(ngModel)]="recrange" color="secondary">
                <ion-label range-left>100 Mtrs</ion-label>
                <ion-label range-right>5 Kms</ion-label>
            </ion-range>
        </ion-item>
        <ion-item class="no-border">
            {{ 'Do not disturb' | translate }}
            <ion-segment color="dark" class="segment " [(ngModel)]="dnd" (ionChange)="notify()">
                <ion-segment-button class="on segment-button" value="true">
                    {{ 'OFF' | translate }}
                </ion-segment-button>
                <ion-segment-button class="off segment-button segment-activated" value="false">
                    {{ 'ON' | translate }}
                </ion-segment-button>

            </ion-segment>

        </ion-item>
    </div>
</ion-content>