body{
    background-color: rgba(107, 103, 103, 0.76) !important;
}
.login-box{
    width: 320px;
    margin: 0 auto;
    margin-top: 10%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}
.login-header{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.btn-cus{
    padding: 4px 36px;
}
.login-box input,.login-box button{
    border-radius: 0px !important;
}
.help-block{
    color: #ff0000;
    font-size: 14px;
    font-style: italic;
}
.success-msg{
    text-align: center;
    margin-top:10%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}